<a href="https://colab.research.google.com/github/201801371MinGyuJo/Lab0-201801371MinGyuJo/blob/main/Final%20Project%20Busan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data opening and organizing

## DATA opening

In [56]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [59]:
import numpy as np
import pandas as pd

## Count meteorological stations

###January

In [58]:
df_January = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 1월')

In [ ]:
#count empty/null values
print(df_January.isnull().sum().sum())

5473

In [ ]:
df_January_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 1월')

In [ ]:
by_cont_SO2=df_January_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std    min      25%    50%    75%    max
지역
부산 강서구   2199.0  0.004825  0.002492  0.002  0.00400  0.004  0.005  0.029
부산 금정구    732.0  0.002484  0.000550  0.002  0.00200  0.002  0.003  0.005
부산 기장군   1475.0  0.003431  0.001199  0.002  0.00300  0.003  0.004  0.015
부산 남구     737.0  0.002792  0.000631  0.002  0.00200  0.003  0.003  0.005
부산 동구    2186.0  0.003453  0.000808  0.002  0.00300  0.003  0.004  0.011
부산 동래구    737.0  0.002810  0.000718  0.002  0.00200  0.003  0.003  0.005
부산 부산진구  1472.0  0.004140  0.001117  0.002  0.00300  0.004  0.005  0.008
부산 북구     738.0  0.003348  0.000846  0.002  0.00300  0.003  0.004  0.009
부산 사상구   1477.0  0.004854  0.001803  0.002  0.00400  0.005  0.006  0.021
부산 사하구   1472.0  0.003509  0.001180  0.002  0.00300  0.003  0.004  0.015
부산 서구     721.0  0.003750  0.000684  0.003  0.00300  0.004  0.004  0.007
부산 수영구      0.0       NaN       NaN    NaN      NaN    NaN    NaN    NaN
부산 연제구    730.0  0.002856  0.000590  0.002  0.00225  0.003  0.003  0.006
부산 영도구    736.0  0.003427  0.000767  0.002  0.00300  0.003  0.004  0.006
부산 중구     723.0  0.002920  0.001001  0.002  0.00200  0.003  0.003  0.013
부산 해운대구   739.0  0.003996  0.000946  0.002  0.00400  0.004  0.004  0.011

In [ ]:
df_January_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 1월')
by_cont_CO=df_January_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2199.0  0.401819  0.125271  0.2  0.3  0.4  0.5  1.0
부산 금정구    737.0  0.411533  0.107668  0.2  0.3  0.4  0.5  1.1
부산 기장군   1477.0  0.333649  0.093115  0.2  0.3  0.3  0.4  0.8
부산 남구     737.0  0.547083  0.106298  0.4  0.5  0.5  0.6  1.1
부산 동구    2216.0  0.403971  0.116660  0.2  0.3  0.4  0.5  1.0
부산 동래구    737.0  0.485753  0.128750  0.2  0.4  0.5  0.6  1.1
부산 부산진구  1472.0  0.481861  0.144901  0.2  0.4  0.5  0.6  1.1
부산 북구     738.0  0.555149  0.151811  0.3  0.4  0.5  0.6  1.4
부산 사상구   1477.0  0.416858  0.153527  0.1  0.3  0.4  0.5  1.5
부산 사하구   1472.0  0.485258  0.149438  0.2  0.4  0.5  0.5  2.2
부산 서구     737.0  0.500136  0.103143  0.3  0.4  0.5  0.6  0.8
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    738.0  0.458266  0.131553  0.3  0.4  0.4  0.5  1.0
부산 영도구    738.0  0.384688  0.071398  0.3  0.3  0.4  0.4  0.6
부산 중구     734.0  0.448501  0.097257  0.3  0.4  0.4  0.5  0.8
부산 해운대구   739.0  0.320568  0.088095  0.2  0.3  0.3  0.4  0.7

In [ ]:
df_January_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 1월')
by_cont_O3=df_January_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min     25%    50%    75%    max
지역
부산 강서구   2196.0  0.022013  0.012636  0.002  0.0110  0.023  0.032  0.061
부산 금정구   1474.0  0.022874  0.011695  0.001  0.0130  0.025  0.032  0.048
부산 기장군   1477.0  0.027784  0.010714  0.002  0.0210  0.030  0.036  0.051
부산 남구     737.0  0.023883  0.011658  0.002  0.0150  0.025  0.034  0.048
부산 동구    2216.0  0.025907  0.011731  0.001  0.0180  0.027  0.034  0.055
부산 동래구   1476.0  0.020200  0.012469  0.002  0.0090  0.021  0.030  0.048
부산 부산진구  1472.0  0.018100  0.012650  0.002  0.0050  0.017  0.029  0.047
부산 북구     731.0  0.019326  0.012988  0.002  0.0060  0.018  0.031  0.047
부산 사상구   1477.0  0.017917  0.012217  0.002  0.0060  0.017  0.029  0.049
부산 사하구   1472.0  0.021702  0.012222  0.002  0.0120  0.022  0.031  0.051
부산 서구     737.0  0.025058  0.010505  0.002  0.0180  0.026  0.033  0.051
부산 수영구    738.0  0.026136  0.012549  0.002  0.0170  0.028  0.035  0.053
부산 연제구    738.0  0.022599  0.012882  0.002  0.0100  0.026  0.033  0.048
부산 영도구    738.0  0.029577  0.012196  0.002  0.0230  0.032  0.039  0.055
부산 중구     734.0  0.022717  0.009735  0.002  0.0170  0.024  0.030  0.042
부산 해운대구   739.0  0.026663  0.010826  0.002  0.0195  0.029  0.035  0.050

In [ ]:
df_January_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 1월')
by_cont_NO2=df_January_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2199.0  0.026900  0.015128  0.003  0.015  0.024  0.037  0.089
부산 금정구   1476.0  0.017923  0.010141  0.002  0.009  0.015  0.026  0.049
부산 기장군   1477.0  0.015330  0.009766  0.003  0.008  0.012  0.019  0.053
부산 남구     737.0  0.021014  0.013367  0.002  0.010  0.018  0.030  0.058
부산 동구    2216.0  0.022348  0.013712  0.003  0.011  0.019  0.030  0.084
부산 동래구   1475.0  0.024959  0.015822  0.001  0.011  0.023  0.036  0.081
부산 부산진구  1472.0  0.030766  0.016686  0.004  0.017  0.028  0.041  0.105
부산 북구     738.0  0.027187  0.013436  0.003  0.016  0.026  0.038  0.062
부산 사상구   1477.0  0.023200  0.012021  0.003  0.013  0.022  0.031  0.072
부산 사하구   1472.0  0.024349  0.013848  0.003  0.014  0.022  0.032  0.089
부산 서구     737.0  0.019411  0.010493  0.003  0.011  0.017  0.026  0.060
부산 수영구    738.0  0.020546  0.012812  0.002  0.011  0.017  0.028  0.059
부산 연제구    738.0  0.025333  0.016023  0.004  0.013  0.019  0.037  0.074
부산 영도구    738.0  0.014297  0.009591  0.002  0.007  0.011  0.019  0.047
부산 중구     734.0  0.015944  0.009550  0.004  0.009  0.013  0.020  0.059
부산 해운대구   739.0  0.014892  0.007761  0.003  0.009  0.013  0.019  0.045

In [ ]:
df_January_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 1월')
by_cont_PM10=df_January_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%   75%    max
지역
부산 강서구   2205.0  34.220862  17.903318  2.0  21.0  32.0  45.0  127.0
부산 금정구   1481.0  27.733964  14.551985  2.0  17.0  26.0  36.0   92.0
부산 기장군   1485.0  27.669360  14.335757  2.0  18.0  25.0  34.0   88.0
부산 남구     742.0  29.576819  14.606633  2.0  19.0  28.0  38.0   77.0
부산 동구    2226.0  27.261905  14.645785  2.0  16.0  25.0  35.0   85.0
부산 동래구   1482.0  32.037112  16.120557  2.0  20.0  30.0  40.0   95.0
부산 부산진구  1481.0  35.774477  18.869120  2.0  20.0  35.0  47.0  101.0
부산 북구     743.0  35.562584  17.503209  5.0  22.0  34.0  46.0  105.0
부산 사상구   1485.0  39.428283  20.732828  2.0  23.0  38.0  52.0  134.0
부산 사하구   1486.0  34.070659  18.804391  2.0  20.0  32.0  46.0  101.0
부산 서구     740.0  35.887838  16.432899  7.0  24.0  34.5  45.0   90.0
부산 수영구    738.0  28.330623  13.603681  4.0  19.0  27.0  37.0   79.0
부산 연제구    706.0  31.764873  14.998296  5.0  20.0  30.0  41.0   87.0
부산 영도구    744.0  26.344086  12.638461  3.0  17.0  23.0  32.0   70.0
부산 중구     741.0  28.763833  15.381442  2.0  17.0  28.0  37.0   77.0
부산 해운대구   741.0  26.322537  13.932846  3.0  17.0  23.0  33.0   83.0

In [ ]:
df_January_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 1월')
by_cont_PM25=df_January_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min   25%   50%    75%   max
지역
부산 강서구   2183.0  22.987632  13.880079  2.0  12.0  22.0  32.00  86.0
부산 금정구   1488.0  18.610887  11.224544  2.0  10.0  17.0  25.00  67.0
부산 기장군   1486.0  17.975774  11.577498  2.0  10.0  16.0  23.75  68.0
부산 남구     744.0  17.841398  11.928752  2.0   8.0  16.0  24.25  65.0
부산 동구    2226.0  18.726864  11.768133  2.0  10.0  17.0  25.00  68.0
부산 동래구   1469.0  19.962560  12.354299  2.0  11.0  18.0  27.00  77.0
부산 부산진구  1482.0  22.875843  14.690486  2.0  11.0  22.0  32.00  76.0
부산 북구     743.0  24.208614  13.578695  2.0  13.0  24.0  31.50  79.0
부산 사상구   1486.0  27.299462  15.397620  2.0  15.0  27.0  36.00  86.0
부산 사하구   1488.0  25.268817  14.666672  2.0  13.0  24.0  35.00  75.0
부산 서구     741.0  23.576248  14.254774  2.0  13.0  21.0  32.00  78.0
부산 수영구    739.0  21.259811  11.690806  2.0  12.0  19.0  27.00  73.0
부산 연제구    741.0  17.877193  11.221711  2.0   9.0  17.0  24.00  60.0
부산 영도구    729.0  17.127572   9.953266  2.0  10.0  15.0  22.00  55.0
부산 중구     741.0  17.886640  11.291379  2.0   9.0  17.0  24.00  58.0
부산 해운대구   742.0  20.528302  10.938357  4.0  13.0  18.0  25.00  74.0

###February

In [ ]:
df_February = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 2월')

In [ ]:
# count empty/null values
print(df_February.isnull().sum().sum())

5161

In [ ]:
df_February_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 2월')
by_cont_SO2=df_February_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2071.0  0.004951  0.002325  0.002  0.004  0.004  0.006  0.039
부산 금정구    691.0  0.002977  0.000830  0.002  0.002  0.003  0.003  0.009
부산 기장군   1383.0  0.003581  0.001531  0.001  0.003  0.003  0.004  0.015
부산 남구     692.0  0.003744  0.001064  0.002  0.003  0.003  0.004  0.010
부산 동구    2060.0  0.003813  0.001354  0.002  0.003  0.003  0.004  0.013
부산 동래구    691.0  0.003065  0.000873  0.002  0.002  0.003  0.003  0.008
부산 부산진구  1381.0  0.003408  0.000875  0.002  0.003  0.003  0.004  0.008
부산 북구     691.0  0.004036  0.001409  0.002  0.003  0.004  0.005  0.013
부산 사상구   1378.0  0.004122  0.001344  0.002  0.003  0.004  0.005  0.011
부산 사하구   1382.0  0.003766  0.001242  0.002  0.003  0.003  0.004  0.015
부산 서구     688.0  0.004147  0.001112  0.003  0.003  0.004  0.004  0.013
부산 수영구      0.0       NaN       NaN    NaN    NaN    NaN    NaN    NaN
부산 연제구    665.0  0.002792  0.000802  0.002  0.002  0.003  0.003  0.007
부산 영도구    691.0  0.003974  0.001302  0.003  0.003  0.004  0.005  0.011
부산 중구     690.0  0.003213  0.001073  0.002  0.003  0.003  0.004  0.009
부산 해운대구   690.0  0.003361  0.001182  0.002  0.003  0.003  0.004  0.013

In [ ]:
df_February_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 2월')
by_cont_CO=df_February_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2071.0  0.421777  0.112649  0.2  0.3  0.4  0.5  1.0
부산 금정구    691.0  0.403039  0.109304  0.2  0.3  0.4  0.5  0.8
부산 기장군   1383.0  0.294143  0.094809  0.1  0.2  0.3  0.3  0.6
부산 남구     692.0  0.568642  0.119874  0.4  0.5  0.5  0.6  1.1
부산 동구    2070.0  0.421691  0.140386  0.2  0.3  0.4  0.5  1.0
부산 동래구    691.0  0.476700  0.134136  0.3  0.4  0.5  0.6  1.0
부산 부산진구  1381.0  0.473063  0.149341  0.2  0.4  0.4  0.5  1.2
부산 북구     691.0  0.533575  0.141734  0.3  0.4  0.5  0.6  1.2
부산 사상구   1382.0  0.432344  0.126400  0.2  0.3  0.4  0.5  1.1
부산 사하구   1382.0  0.489363  0.192874  0.2  0.4  0.4  0.5  2.6
부산 서구     691.0  0.479884  0.117402  0.3  0.4  0.5  0.5  1.4
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    690.0  0.463188  0.142265  0.3  0.4  0.4  0.5  1.0
부산 영도구    691.0  0.387699  0.082580  0.3  0.3  0.4  0.4  0.6
부산 중구     690.0  0.438551  0.112335  0.3  0.4  0.4  0.5  0.8
부산 해운대구   690.0  0.255217  0.106850  0.1  0.2  0.2  0.3  0.6

In [ ]:
df_February_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 2월')
by_cont_O3=df_February_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min      25%    50%     75%    max
지역
부산 강서구   2071.0  0.024695  0.014929  0.001  0.01100  0.026  0.0360  0.078
부산 금정구   1378.0  0.025598  0.013484  0.002  0.01400  0.028  0.0360  0.065
부산 기장군   1383.0  0.031401  0.011475  0.002  0.02350  0.033  0.0390  0.068
부산 남구     692.0  0.027666  0.012277  0.003  0.01875  0.030  0.0370  0.060
부산 동구    2070.0  0.027810  0.012487  0.001  0.01900  0.029  0.0370  0.058
부산 동래구   1381.0  0.022918  0.013573  0.002  0.01000  0.024  0.0340  0.063
부산 부산진구  1380.0  0.022857  0.014200  0.002  0.00900  0.025  0.0340  0.061
부산 북구     688.0  0.023166  0.015355  0.002  0.00700  0.024  0.0360  0.062
부산 사상구   1382.0  0.022292  0.013477  0.002  0.00900  0.024  0.0330  0.055
부산 사하구   1382.0  0.027119  0.013818  0.001  0.01600  0.029  0.0370  0.059
부산 서구     691.0  0.030305  0.010787  0.002  0.02300  0.032  0.0370  0.055
부산 수영구    691.0  0.028667  0.013140  0.003  0.01900  0.031  0.0385  0.066
부산 연제구    690.0  0.025641  0.014188  0.002  0.01300  0.029  0.0360  0.056
부산 영도구    691.0  0.035670  0.013047  0.002  0.02900  0.038  0.0440  0.064
부산 중구     690.0  0.026430  0.010146  0.002  0.02000  0.028  0.0330  0.048
부산 해운대구   690.0  0.029242  0.011139  0.002  0.02200  0.031  0.0370  0.060

In [ ]:
df_February_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 2월')
by_cont_NO2=df_February_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2071.0  0.026494  0.014836  0.001  0.015  0.024  0.037  0.096
부산 금정구   1382.0  0.018480  0.009808  0.003  0.011  0.017  0.025  0.048
부산 기장군   1383.0  0.014764  0.008829  0.003  0.008  0.012  0.020  0.056
부산 남구     692.0  0.020892  0.012570  0.003  0.011  0.017  0.028  0.066
부산 동구    2070.0  0.025028  0.015985  0.003  0.012  0.022  0.036  0.123
부산 동래구   1381.0  0.023358  0.013685  0.002  0.012  0.022  0.033  0.069
부산 부산진구  1381.0  0.026640  0.014083  0.004  0.015  0.024  0.036  0.103
부산 북구     691.0  0.026994  0.013799  0.004  0.015  0.025  0.037  0.067
부산 사상구   1382.0  0.022391  0.011749  0.003  0.013  0.021  0.030  0.065
부산 사하구   1345.0  0.020007  0.012405  0.003  0.011  0.017  0.026  0.078
부산 서구     691.0  0.017766  0.008938  0.004  0.011  0.016  0.023  0.075
부산 수영구    691.0  0.018855  0.012261  0.003  0.009  0.016  0.025  0.065
부산 연제구    690.0  0.025601  0.016158  0.004  0.012  0.022  0.036  0.071
부산 영도구    691.0  0.012845  0.009065  0.003  0.006  0.010  0.017  0.053
부산 중구     690.0  0.015545  0.009765  0.003  0.008  0.013  0.019  0.070
부산 해운대구   690.0  0.017465  0.009957  0.004  0.010  0.015  0.022  0.054

In [ ]:
df_February_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 2월')
by_cont_PM10=df_February_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%   75%    max
지역
부산 강서구   2064.0  37.767442  22.055568  2.0  22.0  32.0  48.0  157.0
부산 금정구   1358.0  31.250368  18.774598  2.0  17.0  27.0  41.0  116.0
부산 기장군   1388.0  30.884006  18.335658  2.0  17.0  27.0  40.0  103.0
부산 남구     694.0  31.462536  18.209718  3.0  18.0  28.0  41.0  104.0
부산 동구    2072.0  30.203185  18.585071  2.0  16.0  26.0  40.0  107.0
부산 동래구   1387.0  36.218457  20.282222  3.0  21.0  32.0  47.0  129.0
부산 부산진구  1384.0  37.397399  21.576503  2.0  21.0  33.0  50.0  130.0
부산 북구     692.0  37.851156  20.156252  8.0  22.0  34.0  47.0  106.0
부산 사상구   1390.0  39.381295  22.239095  3.0  23.0  35.0  51.0  129.0
부산 사하구   1383.0  35.283442  22.504010  2.0  19.0  31.0  45.0  138.0
부산 서구     696.0  36.875000  19.069208  6.0  23.0  33.0  46.0  116.0
부산 수영구    693.0  31.303030  18.213742  4.0  17.0  27.0  42.0  101.0
부산 연제구    643.0  37.006221  20.038125  2.0  22.0  34.0  47.0  113.0
부산 영도구    694.0  29.358790  17.532722  5.0  16.0  26.0  38.0   98.0
부산 중구     692.0  31.008671  19.180684  2.0  17.0  27.0  40.0  121.0
부산 해운대구   692.0  28.836705  17.535020  4.0  16.0  25.0  36.0  109.0

In [ ]:
df_February_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 2월')
by_cont_PM25=df_February_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min    25%   50%    75%    max
지역
부산 강서구   2056.0  24.723249  17.306814  2.0  12.00  20.0  32.00  140.0
부산 금정구   1388.0  20.639049  14.101807  2.0  10.00  16.0  27.25   73.0
부산 기장군   1384.0  20.164017  13.983250  2.0  10.00  17.0  28.00   78.0
부산 남구     693.0  19.483405  14.954510  2.0   8.00  15.0  27.00   77.0
부산 동구    2076.0  20.571291  14.601608  2.0  10.00  16.0  28.00   81.0
부산 동래구   1385.0  22.316245  15.224322  2.0  11.00  18.0  30.00   84.0
부산 부산진구  1383.0  23.274765  16.606225  2.0  11.00  19.0  32.00   85.0
부산 북구     693.0  25.106782  15.003665  3.0  14.00  22.0  32.00   79.0
부산 사상구   1292.0  24.449690  15.485375  2.0  13.00  20.0  32.00   80.0
부산 사하구   1386.0  25.636364  17.060198  2.0  13.00  21.0  33.00   85.0
부산 서구     696.0  22.599138  14.893732  2.0  11.75  18.0  30.00   79.0
부산 수영구    695.0  22.529496  14.831578  2.0  11.00  18.0  30.00   78.0
부산 연제구    696.0  19.662356  14.405817  2.0   9.00  16.0  27.00   71.0
부산 영도구    696.0  19.156609  12.744977  3.0   9.00  15.0  26.00   67.0
부산 중구     680.0  19.379412  13.632355  2.0   9.00  16.0  26.00   64.0
부산 해운대구   687.0  23.145560  14.158796  4.0  12.50  19.0  29.00   74.0

###March

In [ ]:
df_March = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 3월')

In [ ]:
# count empty/null values
print(df_March.isnull().sum().sum())

7308

In [ ]:
df_March_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 3월')
by_cont_SO2=df_March_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2209.0  0.005234  0.002463  0.002  0.003  0.005  0.006  0.024
부산 금정구    734.0  0.002674  0.000833  0.001  0.002  0.003  0.003  0.010
부산 기장군   1479.0  0.003429  0.001438  0.002  0.003  0.003  0.004  0.015
부산 남구     737.0  0.003252  0.000942  0.002  0.003  0.003  0.004  0.010
부산 동구    2202.0  0.003466  0.001109  0.002  0.003  0.003  0.004  0.010
부산 동래구    735.0  0.003127  0.000728  0.002  0.003  0.003  0.004  0.006
부산 부산진구  1468.0  0.003659  0.000858  0.002  0.003  0.004  0.004  0.008
부산 북구     734.0  0.002812  0.000739  0.002  0.002  0.003  0.003  0.009
부산 사상구   1472.0  0.003129  0.001275  0.002  0.002  0.003  0.004  0.029
부산 사하구   1470.0  0.003638  0.001276  0.002  0.003  0.003  0.004  0.022
부산 서구     738.0  0.003405  0.001341  0.001  0.003  0.003  0.004  0.013
부산 수영구      0.0       NaN       NaN    NaN    NaN    NaN    NaN    NaN
부산 연제구    737.0  0.002659  0.000769  0.002  0.002  0.003  0.003  0.007
부산 영도구   1472.0  0.003766  0.001074  0.002  0.003  0.004  0.004  0.010
부산 중구     734.0  0.003238  0.000886  0.002  0.003  0.003  0.004  0.008
부산 해운대구  1474.0  0.003332  0.001020  0.002  0.003  0.003  0.004  0.012

In [ ]:
df_March_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 3월')
by_cont_CO=df_March_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2209.0  0.373517  0.073846  0.2  0.3  0.4  0.4  0.8
부산 금정구    734.0  0.356812  0.066494  0.2  0.3  0.3  0.4  0.6
부산 기장군   1479.0  0.263354  0.063148  0.1  0.2  0.3  0.3  0.5
부산 남구     737.0  0.511940  0.064846  0.4  0.5  0.5  0.5  0.8
부산 동구    2202.0  0.356040  0.098845  0.1  0.3  0.4  0.4  0.9
부산 동래구    735.0  0.439456  0.103585  0.3  0.4  0.4  0.5  1.4
부산 부산진구  1468.0  0.413760  0.089770  0.3  0.4  0.4  0.5  0.9
부산 북구     734.0  0.439237  0.077036  0.3  0.4  0.4  0.5  0.7
부산 사상구   1472.0  0.364878  0.078714  0.2  0.3  0.4  0.4  0.7
부산 사하구   1470.0  0.403673  0.118650  0.2  0.3  0.4  0.4  1.6
부산 서구     738.0  0.422222  0.058655  0.3  0.4  0.4  0.4  0.7
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    737.0  0.405699  0.093076  0.3  0.3  0.4  0.4  0.9
부산 영도구   1472.0  0.322418  0.056285  0.2  0.3  0.3  0.3  0.6
부산 중구     734.0  0.384741  0.065545  0.2  0.3  0.4  0.4  0.6
부산 해운대구  1474.0  0.320828  0.094630  0.2  0.3  0.3  0.4  0.8

In [ ]:
df_March_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 3월')
by_cont_O3=df_March_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2206.0  0.029224  0.014884  0.001  0.018  0.030  0.040  0.071
부산 금정구   1471.0  0.030772  0.014076  0.002  0.020  0.033  0.041  0.067
부산 기장군   1479.0  0.037974  0.012080  0.005  0.030  0.039  0.046  0.075
부산 남구     737.0  0.034175  0.011027  0.004  0.029  0.036  0.041  0.059
부산 동구    2199.0  0.034032  0.013455  0.001  0.026  0.036  0.043  0.076
부산 동래구   1470.0  0.027888  0.015129  0.002  0.015  0.028  0.040  0.072
부산 부산진구  1468.0  0.031168  0.015292  0.002  0.020  0.034  0.042  0.071
부산 북구    1471.0  0.032094  0.015526  0.002  0.020  0.035  0.043  0.070
부산 사상구   1472.0  0.030332  0.014472  0.002  0.019  0.033  0.041  0.065
부산 사하구   1470.0  0.034450  0.014717  0.002  0.025  0.037  0.045  0.071
부산 서구     738.0  0.038686  0.012105  0.003  0.032  0.039  0.046  0.073
부산 수영구    736.0  0.036674  0.013410  0.003  0.030  0.039  0.046  0.068
부산 연제구    737.0  0.033118  0.014533  0.002  0.026  0.036  0.044  0.069
부산 영도구   1472.0  0.040999  0.012660  0.003  0.033  0.042  0.050  0.075
부산 중구     734.0  0.032319  0.010440  0.003  0.026  0.033  0.039  0.060
부산 해운대구  1473.0  0.036961  0.013739  0.003  0.029  0.039  0.046  0.073

In [ ]:
df_March_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 3월')
by_cont_NO2=df_March_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min      25%     50%      75%    max
지역
부산 강서구   2209.0  0.023445  0.014320  0.003  0.01200  0.0200  0.03200  0.084
부산 금정구   1472.0  0.015024  0.008410  0.004  0.00800  0.0130  0.02000  0.044
부산 기장군   1479.0  0.011231  0.006396  0.003  0.00700  0.0100  0.01400  0.040
부산 남구     737.0  0.014601  0.009174  0.004  0.00800  0.0120  0.01900  0.052
부산 동구    2201.0  0.021300  0.013962  0.002  0.01100  0.0180  0.02900  0.100
부산 동래구   1470.0  0.020949  0.014052  0.002  0.01000  0.0170  0.03000  0.099
부산 부산진구  1468.0  0.020596  0.012106  0.004  0.01100  0.0170  0.02700  0.075
부산 북구    1471.0  0.019175  0.012052  0.002  0.01000  0.0160  0.02600  0.061
부산 사상구   1471.0  0.017256  0.009814  0.004  0.01000  0.0150  0.02300  0.059
부산 사하구   1470.0  0.015649  0.010249  0.002  0.00900  0.0130  0.02000  0.066
부산 서구     738.0  0.014588  0.007587  0.004  0.00900  0.0130  0.01775  0.051
부산 수영구    736.0  0.014635  0.009815  0.003  0.00700  0.0115  0.01800  0.054
부산 연제구    737.0  0.020248  0.013098  0.004  0.01100  0.0160  0.02600  0.071
부산 영도구   1472.0  0.011944  0.008192  0.002  0.00600  0.0090  0.01500  0.049
부산 중구     734.0  0.011535  0.006938  0.003  0.00700  0.0100  0.01375  0.053
부산 해운대구  1474.0  0.016354  0.009577  0.004  0.00925  0.0130  0.02000  0.055

In [ ]:
df_March_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 3월')
by_cont_PM10=df_March_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std   min   25%   50%   75%    max
지역
부산 강서구   2216.0  34.533394  15.725890   2.0  24.0  32.0  43.0  202.0
부산 금정구   1477.0  31.828707  14.443790   3.0  22.0  30.0  40.0  145.0
부산 기장군   1484.0  30.824124  13.042622   5.0  22.0  28.0  39.0  140.0
부산 남구     740.0  32.041892  14.311615   8.0  23.0  29.0  40.0  176.0
부산 동구    2200.0  32.000455  14.384302   4.0  22.0  30.0  39.0  170.0
부산 동래구   1478.0  36.423545  15.447837   6.0  26.0  34.0  45.0  172.0
부산 부산진구  1480.0  34.378378  14.929859   5.0  23.0  32.0  42.0  141.0
부산 북구    1484.0  32.675876  14.533406   4.0  23.0  30.0  41.0  148.0
부산 사상구   1480.0  37.577703  19.173615   6.0  25.0  34.0  45.0  260.0
부산 사하구   1481.0  32.527346  16.615914   3.0  21.0  30.0  41.0  136.0
부산 서구     744.0  35.340054  13.710768  10.0  26.0  33.0  42.0  153.0
부산 수영구    735.0  32.549660  12.850001   8.0  23.0  30.0  40.5  124.0
부산 연제구    529.0  36.551985  14.579512   8.0  26.0  35.0  44.0  102.0
부산 영도구   1488.0  26.313172  10.776761   3.0  18.0  25.0  33.0  106.0
부산 중구     742.0  30.012129  13.225384   4.0  21.0  28.0  37.0  137.0
부산 해운대구  1483.0  29.428186  13.071616   4.0  20.0  27.0  37.0  130.0

In [ ]:
df_March_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 3월')
by_cont_PM25=df_March_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean       std  min   25%   50%   75%   max
지역
부산 강서구   2215.0  17.608578  9.666191  2.0  10.0  16.0  23.0  65.0
부산 금정구   1484.0  16.345687  7.723634  2.0  10.0  15.0  21.0  43.0
부산 기장군   1484.0  15.524259  7.915864  2.0  10.0  14.0  20.0  47.0
부산 남구     739.0  12.866035  7.277293  2.0   7.0  12.0  16.0  39.0
부산 동구    2214.0  14.866757  7.704427  2.0   9.0  13.0  19.0  61.0
부산 동래구   1480.0  16.822973  8.464204  2.0  11.0  15.0  21.0  49.0
부산 부산진구  1484.0  15.311995  8.866985  2.0   9.0  14.0  20.0  49.0
부산 북구    1484.0  16.970350  8.315861  2.0  11.0  16.0  22.0  51.0
부산 사상구   1482.0  19.522267  9.732401  2.0  13.0  17.0  25.0  78.0
부산 사하구   1482.0  18.132928  9.901500  2.0  11.0  16.0  24.0  69.0
부산 서구     743.0  16.930013  7.985361  2.0  11.0  15.0  21.0  45.0
부산 수영구    733.0  18.533424  8.053818  5.0  13.0  17.0  23.0  51.0
부산 연제구    739.0  14.472260  7.721278  2.0   9.0  13.0  18.0  40.0
부산 영도구   1485.0  12.832997  6.703410  2.0   8.0  12.0  16.0  36.0
부산 중구     718.0  13.611421  7.293277  2.0   8.0  12.0  18.0  40.0
부산 해운대구  1479.0  14.212306  7.606765  2.0   8.0  13.0  18.0  41.0

###April

In [ ]:
df_April = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 4월')

In [ ]:
 #count empty/null values
print(df_April.isnull().sum().sum())

7105

In [ ]:
df_April_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 4월')
by_cont_SO2=df_April_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2142.0  0.004291  0.001871  0.002  0.003  0.004  0.005  0.021
부산 금정구    702.0  0.002345  0.000776  0.001  0.002  0.002  0.003  0.006
부산 기장군   1408.0  0.003093  0.000949  0.001  0.002  0.003  0.004  0.008
부산 남구     707.0  0.002180  0.001025  0.001  0.001  0.002  0.003  0.005
부산 동구    2144.0  0.003720  0.001149  0.002  0.003  0.003  0.004  0.009
부산 동래구    705.0  0.002854  0.000742  0.002  0.002  0.003  0.003  0.005
부산 부산진구  1425.0  0.003369  0.000773  0.002  0.003  0.003  0.004  0.006
부산 북구     714.0  0.002839  0.000786  0.002  0.002  0.003  0.003  0.010
부산 사상구   1420.0  0.003055  0.000907  0.002  0.002  0.003  0.003  0.008
부산 사하구   1430.0  0.003716  0.001220  0.002  0.003  0.003  0.004  0.019
부산 서구     715.0  0.003519  0.000859  0.002  0.003  0.003  0.004  0.010
부산 수영구      0.0       NaN       NaN    NaN    NaN    NaN    NaN    NaN
부산 연제구    704.0  0.002614  0.000698  0.001  0.002  0.003  0.003  0.005
부산 영도구   1428.0  0.003674  0.001007  0.002  0.003  0.004  0.004  0.009
부산 중구     705.0  0.003118  0.000792  0.002  0.003  0.003  0.004  0.006
부산 해운대구  1426.0  0.003298  0.000706  0.002  0.003  0.003  0.004  0.007

In [ ]:
df_April_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 4월')
by_cont_CO=df_April_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2142.0  0.351774  0.064577  0.2  0.3  0.3  0.4  0.6
부산 금정구    702.0  0.353419  0.065493  0.2  0.3  0.3  0.4  0.6
부산 기장군   1408.0  0.269602  0.063195  0.2  0.2  0.3  0.3  0.5
부산 남구     707.0  0.502970  0.056375  0.4  0.5  0.5  0.5  0.7
부산 동구    2144.0  0.352612  0.090018  0.2  0.3  0.4  0.4  0.8
부산 동래구    705.0  0.402695  0.102973  0.2  0.3  0.4  0.5  0.8
부산 부산진구  1425.0  0.384421  0.080090  0.2  0.3  0.4  0.4  0.7
부산 북구     714.0  0.428571  0.071814  0.3  0.4  0.4  0.5  0.7
부산 사상구   1424.0  0.337430  0.060653  0.2  0.3  0.3  0.4  0.5
부산 사하구   1430.0  0.359720  0.107454  0.2  0.3  0.4  0.4  1.9
부산 서구     715.0  0.410769  0.063368  0.3  0.4  0.4  0.4  0.7
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    704.0  0.389063  0.071618  0.3  0.3  0.4  0.4  0.8
부산 영도구   1428.0  0.293417  0.063302  0.2  0.3  0.3  0.3  0.6
부산 중구     705.0  0.349645  0.069315  0.2  0.3  0.3  0.4  0.6
부산 해운대구  1426.0  0.326718  0.085561  0.1  0.3  0.3  0.4  0.8

In [ ]:
df_April_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 4월')
by_cont_O3=df_April_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2142.0  0.038466  0.017615  0.002  0.028  0.039  0.050  0.109
부산 금정구   1416.0  0.039608  0.016904  0.002  0.030  0.041  0.050  0.092
부산 기장군   1408.0  0.047744  0.014154  0.005  0.039  0.047  0.055  0.098
부산 남구     707.0  0.044133  0.012291  0.006  0.037  0.045  0.051  0.087
부산 동구    2144.0  0.045781  0.015145  0.003  0.038  0.046  0.054  0.099
부산 동래구   1418.0  0.039055  0.017553  0.002  0.027  0.040  0.050  0.094
부산 부산진구  1374.0  0.040515  0.015943  0.003  0.032  0.042  0.050  0.098
부산 북구    1424.0  0.043222  0.017903  0.003  0.034  0.045  0.054  0.095
부산 사상구   1424.0  0.039746  0.016840  0.003  0.030  0.041  0.050  0.089
부산 사하구   1430.0  0.045694  0.016530  0.003  0.037  0.046  0.055  0.100
부산 서구     715.0  0.048962  0.013814  0.013  0.040  0.047  0.057  0.095
부산 수영구    715.0  0.049576  0.016303  0.006  0.042  0.051  0.058  0.101
부산 연제구    704.0  0.043000  0.016119  0.002  0.035  0.044  0.052  0.093
부산 영도구   1428.0  0.051162  0.015123  0.004  0.042  0.050  0.060  0.098
부산 중구     705.0  0.044020  0.012310  0.009  0.037  0.043  0.051  0.090
부산 해운대구  1426.0  0.045112  0.015409  0.004  0.038  0.046  0.053  0.096

In [ ]:
df_April_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 4월')
by_cont_NO2=df_April_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2141.0  0.020765  0.012869  0.003  0.011  0.017  0.029  0.070
부산 금정구   1416.0  0.013860  0.008107  0.003  0.008  0.011  0.019  0.042
부산 기장군   1408.0  0.009818  0.005484  0.003  0.006  0.008  0.012  0.039
부산 남구     707.0  0.013597  0.007473  0.003  0.007  0.012  0.018  0.049
부산 동구    2144.0  0.019395  0.012409  0.002  0.010  0.016  0.025  0.077
부산 동래구   1418.0  0.018827  0.012908  0.003  0.008  0.016  0.026  0.082
부산 부산진구  1425.0  0.018032  0.010334  0.004  0.010  0.015  0.023  0.066
부산 북구    1425.0  0.017120  0.010738  0.002  0.009  0.014  0.023  0.073
부산 사상구   1423.0  0.015219  0.008436  0.003  0.009  0.013  0.019  0.051
부산 사하구   1430.0  0.015714  0.009150  0.003  0.009  0.013  0.020  0.069
부산 서구     715.0  0.013366  0.005816  0.005  0.009  0.012  0.016  0.040
부산 수영구    715.0  0.012214  0.008232  0.002  0.006  0.010  0.016  0.043
부산 연제구    704.0  0.016585  0.009980  0.003  0.009  0.013  0.021  0.055
부산 영도구   1428.0  0.010437  0.007281  0.002  0.005  0.008  0.013  0.047
부산 중구     705.0  0.009679  0.004534  0.003  0.007  0.009  0.012  0.031
부산 해운대구  1426.0  0.015226  0.009234  0.004  0.009  0.012  0.019  0.073

In [ ]:
df_April_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 4월')
by_cont_PM10=df_April_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%   75%    max
지역
부산 강서구   2148.0  36.504190  16.913420  4.0  25.0  33.5  44.0  143.0
부산 금정구   1428.0  35.416667  18.033821  3.0  23.0  32.0  43.0  114.0
부산 기장군   1403.0  34.754811  17.016558  5.0  24.0  31.0  41.0  119.0
부산 남구     711.0  37.888889  17.105646  6.0  26.0  36.0  46.0  111.0
부산 동구    2154.0  36.467502  17.919910  2.0  24.0  34.0  45.0  126.0
부산 동래구   1419.0  40.331924  17.978805  3.0  28.0  38.0  48.0  126.0
부산 부산진구  1437.0  37.279054  18.039015  4.0  26.0  35.0  45.0  145.0
부산 북구    1429.0  35.092372  17.209693  2.0  24.0  33.0  42.0  115.0
부산 사상구   1435.0  40.394425  20.518263  4.0  27.0  37.0  49.0  165.0
부산 사하구   1436.0  35.594011  18.151901  2.0  23.0  32.0  44.0  144.0
부산 서구     718.0  39.554318  17.083166  7.0  28.0  38.0  47.0  119.0
부산 수영구    717.0  35.690377  16.460434  4.0  25.0  33.0  43.0  102.0
부산 연제구    708.0  38.077684  19.185049  5.0  26.0  35.0  46.0  137.0
부산 영도구   1427.0  31.473020  15.856821  4.0  21.0  28.0  38.0  110.0
부산 중구     709.0  34.964739  16.898840  2.0  24.0  33.0  43.0  100.0
부산 해운대구  1427.0  33.775053  17.129218  2.0  23.0  31.0  40.0  115.0

In [ ]:
df_April_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 4월')
by_cont_PM25=df_April_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean       std  min   25%   50%   75%   max
지역
부산 강서구   2152.0  17.453996  9.283375  2.0  11.0  16.0  22.0  93.0
부산 금정구   1430.0  17.116084  8.153390  2.0  12.0  16.0  21.0  54.0
부산 기장군   1415.0  16.320848  8.878973  2.0  11.0  14.0  20.0  58.0
부산 남구     708.0  13.711864  7.718090  2.0   8.0  12.0  17.0  52.0
부산 동구    2154.0  15.734448  8.040830  2.0  10.0  14.0  19.0  56.0
부산 동래구   1406.0  17.379801  8.403828  2.0  12.0  15.5  21.0  57.0
부산 부산진구  1436.0  15.838440  8.740571  2.0  10.0  14.0  20.0  52.0
부산 북구    1433.0  17.124913  8.739744  2.0  11.0  16.0  21.0  57.0
부산 사상구   1433.0  19.183531  9.139619  2.0  13.0  17.0  23.0  59.0
부산 사하구   1433.0  18.337753  9.220625  2.0  12.0  17.0  23.0  57.0
부산 서구     717.0  18.207810  8.955355  3.0  12.0  17.0  22.0  58.0
부산 수영구    715.0  19.672727  8.680883  5.0  14.0  18.0  23.0  60.0
부산 연제구    708.0  15.841808  7.858030  2.0  10.0  14.0  19.0  52.0
부산 영도구   1434.0  14.129707  7.492628  2.0   9.0  13.0  18.0  52.0
부산 중구     709.0  15.218618  7.708598  2.0  10.0  13.0  19.0  48.0
부산 해운대구  1422.0  14.163854  7.929174  2.0   9.0  12.0  17.0  53.0

### May

In [ ]:
df_May = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 5월')

In [ ]:
#count empty/null values
print(df_May.isnull().sum().sum())

8793

In [ ]:
df_May_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 5월')
by_cont_SO2=df_May_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2185.0  0.004669  0.001838  0.002  0.003  0.004  0.005  0.022
부산 금정구    713.0  0.003628  0.001464  0.002  0.003  0.003  0.004  0.012
부산 기장군   1432.0  0.003445  0.002526  0.001  0.002  0.003  0.003  0.034
부산 남구     715.0  0.002688  0.002292  0.001  0.002  0.002  0.003  0.032
부산 동구    2151.0  0.004852  0.002581  0.001  0.003  0.004  0.006  0.030
부산 동래구    715.0  0.003192  0.001379  0.002  0.002  0.003  0.003  0.014
부산 부산진구  1448.0  0.004283  0.001778  0.002  0.003  0.004  0.005  0.022
부산 북구     736.0  0.003151  0.001047  0.002  0.003  0.003  0.003  0.008
부산 사상구   1477.0  0.003764  0.001351  0.002  0.003  0.003  0.004  0.017
부산 사하구   1477.0  0.003722  0.001182  0.002  0.003  0.003  0.004  0.016
부산 서구     739.0  0.004560  0.001710  0.003  0.004  0.004  0.005  0.017
부산 수영구      0.0       NaN       NaN    NaN    NaN    NaN    NaN    NaN
부산 연제구    712.0  0.003722  0.001770  0.002  0.003  0.003  0.004  0.017
부산 영도구   1480.0  0.003899  0.001963  0.002  0.003  0.003  0.004  0.029
부산 중구     712.0  0.003868  0.001731  0.002  0.003  0.003  0.004  0.021
부산 해운대구  1478.0  0.004049  0.001980  0.003  0.003  0.004  0.004  0.025

In [ ]:
df_May_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 5월')
by_cont_CO=df_May_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2185.0  0.359497  0.066731  0.2  0.3  0.4  0.4  0.7
부산 금정구    655.0  0.349618  0.079153  0.2  0.3  0.3  0.4  0.8
부산 기장군   1432.0  0.300279  0.068731  0.2  0.3  0.3  0.3  0.6
부산 남구     715.0  0.511748  0.071999  0.4  0.5  0.5  0.5  0.9
부산 동구    2154.0  0.388487  0.100658  0.2  0.3  0.4  0.4  1.4
부산 동래구    715.0  0.431329  0.084501  0.3  0.4  0.4  0.5  0.9
부산 부산진구  1448.0  0.374931  0.090990  0.2  0.3  0.4  0.4  0.7
부산 북구     736.0  0.427853  0.068799  0.3  0.4  0.4  0.5  0.7
부산 사상구   1477.0  0.331618  0.063616  0.2  0.3  0.3  0.4  0.6
부산 사하구   1477.0  0.348070  0.130059  0.2  0.2  0.4  0.4  1.9
부산 서구     739.0  0.428417  0.081511  0.3  0.4  0.4  0.5  0.7
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    712.0  0.389747  0.071896  0.3  0.3  0.4  0.4  0.9
부산 영도구   1480.0  0.289865  0.068639  0.2  0.2  0.3  0.3  0.9
부산 중구     712.0  0.390449  0.072285  0.3  0.3  0.4  0.4  1.0
부산 해운대구  1478.0  0.344655  0.103666  0.2  0.3  0.3  0.4  0.9

In [ ]:
df_May_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 5월')
by_cont_O3=df_May_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min    25%     50%    75%    max
지역
부산 강서구   2185.0  0.039736  0.019312  0.002  0.027  0.0390  0.051  0.128
부산 금정구   1453.0  0.039276  0.016279  0.003  0.029  0.0390  0.049  0.090
부산 기장군   1418.0  0.044894  0.014107  0.010  0.036  0.0450  0.053  0.093
부산 남구     715.0  0.035622  0.012627  0.003  0.028  0.0360  0.044  0.070
부산 동구    2154.0  0.034542  0.015423  0.002  0.024  0.0340  0.045  0.082
부산 동래구   1455.0  0.038086  0.015168  0.003  0.028  0.0390  0.047  0.086
부산 부산진구  1448.0  0.037803  0.015055  0.002  0.028  0.0380  0.047  0.087
부산 북구    1476.0  0.042210  0.015944  0.003  0.032  0.0430  0.052  0.096
부산 사상구   1477.0  0.037657  0.014452  0.003  0.028  0.0380  0.047  0.085
부산 사하구   1477.0  0.041313  0.014307  0.005  0.032  0.0420  0.050  0.086
부산 서구     739.0  0.043283  0.013236  0.005  0.035  0.0440  0.052  0.083
부산 수영구    738.0  0.046417  0.015473  0.008  0.037  0.0465  0.056  0.092
부산 연제구    712.0  0.036025  0.012414  0.004  0.028  0.0360  0.044  0.071
부산 영도구   1480.0  0.045022  0.015466  0.003  0.036  0.0450  0.054  0.097
부산 중구     712.0  0.037003  0.013860  0.003  0.028  0.0370  0.046  0.086
부산 해운대구  1475.0  0.040127  0.013940  0.003  0.032  0.0400  0.049  0.084

In [ ]:
df_May_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 5월')
by_cont_NO2=df_May_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2185.0  0.019541  0.010934  0.003  0.011  0.017  0.026  0.083
부산 금정구   1453.0  0.012092  0.006505  0.002  0.008  0.010  0.015  0.044
부산 기장군   1432.0  0.010045  0.005068  0.003  0.006  0.009  0.012  0.034
부산 남구     715.0  0.014776  0.008693  0.003  0.008  0.012  0.019  0.051
부산 동구    2154.0  0.025187  0.014125  0.004  0.014  0.023  0.033  0.077
부산 동래구   1455.0  0.016161  0.010017  0.002  0.008  0.014  0.022  0.067
부산 부산진구  1448.0  0.017477  0.009375  0.004  0.011  0.015  0.022  0.060
부산 북구    1476.0  0.014675  0.007672  0.002  0.009  0.013  0.018  0.049
부산 사상구   1476.0  0.014862  0.006907  0.004  0.010  0.013  0.018  0.045
부산 사하구   1477.0  0.014302  0.007053  0.002  0.009  0.013  0.018  0.055
부산 서구     739.0  0.014995  0.007015  0.004  0.010  0.013  0.018  0.044
부산 수영구    738.0  0.012045  0.007653  0.003  0.007  0.010  0.015  0.053
부산 연제구    712.0  0.017194  0.009730  0.004  0.011  0.014  0.021  0.082
부산 영도구   1480.0  0.010376  0.006916  0.002  0.006  0.008  0.013  0.054
부산 중구     712.0  0.012486  0.005918  0.003  0.008  0.011  0.016  0.033
부산 해운대구  1478.0  0.015169  0.008094  0.003  0.009  0.013  0.018  0.050

In [ ]:
df_May_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 5월')
by_cont_PM10=df_May_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min    25%   50%   75%    max
지역
부산 강서구   2193.0  30.740994  14.487392  2.0  21.00  28.0  38.0  114.0
부산 금정구   1457.0  33.544269  23.868018  5.0  22.00  30.0  40.0  328.0
부산 기장군   1430.0  29.917483  21.930360  2.0  18.00  26.0  36.0  271.0
부산 남구     665.0  31.318797  12.876406  7.0  22.00  29.0  39.0   71.0
부산 동구    2151.0  34.284984  16.907055  2.0  23.00  32.0  42.0  209.0
부산 동래구   1406.0  35.072546  20.330518  4.0  24.00  32.0  42.0  231.0
부산 부산진구  1451.0  32.237767  18.074844  3.0  22.00  29.0  39.0  207.0
부산 북구    1485.0  31.579798  17.308439  2.0  22.00  29.0  38.0  192.0
부산 사상구   1484.0  34.895553  18.992720  2.0  23.75  31.0  42.0  206.0
부산 사하구   1480.0  30.862162  15.777524  2.0  20.00  28.0  39.0  125.0
부산 서구     741.0  36.524966  17.607001  5.0  26.00  34.0  43.0  217.0
부산 수영구    737.0  34.127544  17.069392  7.0  23.00  32.0  42.0  169.0
부산 연제구    711.0  32.731364  17.135980  2.0  22.00  31.0  40.0  177.0
부산 영도구   1481.0  26.029710  13.376833  2.0  17.00  24.0  32.0  155.0
부산 중구     710.0  29.569014  16.621401  2.0  19.00  27.0  38.0  170.0
부산 해운대구  1479.0  29.579446  16.014380  3.0  19.00  27.0  37.0  163.0

In [ ]:
df_May_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 5월')
by_cont_PM25=df_May_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean       std  min    25%   50%    75%   max
지역
부산 강서구   2186.0  18.282708  8.494750  2.0  12.00  18.0  23.00  55.0
부산 금정구   1460.0  16.755479  6.757105  2.0  12.00  16.0  21.00  52.0
부산 기장군   1426.0  15.451613  7.453583  2.0  10.00  14.0  20.00  61.0
부산 남구     704.0  14.740057  8.026577  2.0   8.75  14.0  20.00  51.0
부산 동구    2132.0  17.421670  8.137138  2.0  11.00  17.0  22.00  57.0
부산 동래구   1453.0  17.189952  7.665869  2.0  12.00  17.0  22.00  57.0
부산 부산진구  1450.0  16.619310  7.889500  2.0  11.00  16.0  21.00  48.0
부산 북구    1465.0  17.285324  7.313096  2.0  12.00  17.0  22.00  55.0
부산 사상구   1485.0  19.850505  7.955436  2.0  14.00  20.0  25.00  48.0
부산 사하구   1475.0  18.838644  8.848706  2.0  12.00  18.0  24.00  53.0
부산 서구     743.0  19.628533  7.636580  2.0  14.00  19.0  24.00  52.0
부산 수영구    735.0  19.556463  7.845529  2.0  14.00  18.0  25.00  48.0
부산 연제구    718.0  16.701950  6.953343  2.0  12.00  16.0  21.00  49.0
부산 영도구   1483.0  14.121376  7.017722  2.0   9.00  13.0  18.00  42.0
부산 중구     710.0  15.826761  8.118802  2.0  10.00  15.0  21.75  41.0
부산 해운대구  1448.0  14.751381  7.424371  2.0   9.00  14.0  20.00  50.0

###June

In [ ]:
df_June = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 6월')

In [ ]:
#count empty/null values
print(df_June.isnull().sum().sum())

7762

In [ ]:
df_June_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 6월')
by_cont_SO2=df_June_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2102.0  0.004764  0.001892  0.002  0.003  0.004  0.006  0.015
부산 금정구    713.0  0.003123  0.001136  0.002  0.003  0.003  0.003  0.012
부산 기장군   1428.0  0.003204  0.001582  0.002  0.002  0.003  0.003  0.019
부산 남구     713.0  0.003571  0.001347  0.001  0.003  0.003  0.004  0.013
부산 동구    2136.0  0.004772  0.002326  0.001  0.003  0.004  0.006  0.018
부산 동래구    711.0  0.003488  0.000910  0.002  0.003  0.003  0.004  0.011
부산 부산진구  1421.0  0.003814  0.001249  0.002  0.003  0.003  0.004  0.013
부산 북구     710.0  0.003159  0.000832  0.002  0.003  0.003  0.003  0.008
부산 사상구   1427.0  0.004275  0.001427  0.002  0.004  0.004  0.005  0.027
부산 사하구   1424.0  0.003737  0.001099  0.002  0.003  0.004  0.004  0.017
부산 서구     709.0  0.004392  0.001289  0.002  0.004  0.004  0.005  0.013
부산 수영구      0.0       NaN       NaN    NaN    NaN    NaN    NaN    NaN
부산 연제구    712.0  0.003105  0.001123  0.002  0.002  0.003  0.003  0.010
부산 영도구   1425.0  0.003696  0.001407  0.002  0.003  0.003  0.004  0.018
부산 중구     713.0  0.003820  0.001266  0.002  0.003  0.003  0.004  0.010
부산 해운대구  1426.0  0.003595  0.001342  0.002  0.003  0.003  0.004  0.018

In [ ]:
df_June_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 6월')
by_cont_CO=df_June_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2103.0  0.352068  0.072827  0.2  0.3  0.3  0.4  0.8
부산 금정구    713.0  0.353015  0.078218  0.2  0.3  0.3  0.4  0.6
부산 기장군   1428.0  0.314706  0.067859  0.2  0.3  0.3  0.3  0.6
부산 남구     713.0  0.496914  0.075821  0.4  0.4  0.5  0.5  0.8
부산 동구    2136.0  0.392837  0.084931  0.2  0.3  0.4  0.4  0.8
부산 동래구    711.0  0.440788  0.106263  0.2  0.4  0.4  0.5  1.0
부산 부산진구  1420.0  0.345211  0.108346  0.1  0.3  0.3  0.4  0.7
부산 북구     710.0  0.416761  0.079584  0.3  0.4  0.4  0.5  0.7
부산 사상구   1427.0  0.310441  0.079508  0.2  0.3  0.3  0.4  0.6
부산 사하구   1424.0  0.383146  0.128387  0.2  0.3  0.4  0.4  1.8
부산 서구     709.0  0.427504  0.078777  0.3  0.4  0.4  0.5  0.7
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    712.0  0.347753  0.075160  0.2  0.3  0.3  0.4  0.7
부산 영도구   1425.0  0.286877  0.062736  0.2  0.2  0.3  0.3  0.7
부산 중구     713.0  0.361851  0.072111  0.2  0.3  0.4  0.4  0.6
부산 해운대구  1426.0  0.316269  0.069092  0.1  0.3  0.3  0.4  0.6

In [ ]:
df_June_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 6월')
by_cont_O3=df_June_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min     25%    50%     75%    max
지역
부산 강서구   2074.0  0.039192  0.021444  0.001  0.0230  0.038  0.0520  0.135
부산 금정구   1427.0  0.040249  0.018190  0.003  0.0285  0.040  0.0510  0.105
부산 기장군   1428.0  0.043485  0.017079  0.003  0.0320  0.042  0.0540  0.108
부산 남구     713.0  0.036633  0.016659  0.002  0.0250  0.037  0.0480  0.097
부산 동구    2137.0  0.031337  0.016720  0.002  0.0190  0.031  0.0420  0.102
부산 동래구   1105.0  0.036763  0.018884  0.003  0.0230  0.036  0.0480  0.122
부산 부산진구  1421.0  0.037367  0.018238  0.002  0.0250  0.038  0.0480  0.107
부산 북구    1423.0  0.041989  0.018656  0.004  0.0290  0.041  0.0530  0.112
부산 사상구   1428.0  0.036398  0.016207  0.003  0.0260  0.036  0.0460  0.099
부산 사하구   1424.0  0.040427  0.016285  0.003  0.0300  0.041  0.0500  0.107
부산 서구     709.0  0.041742  0.016222  0.004  0.0310  0.042  0.0520  0.112
부산 수영구    713.0  0.043958  0.017838  0.004  0.0330  0.044  0.0550  0.108
부산 연제구    712.0  0.038100  0.016026  0.003  0.0280  0.038  0.0480  0.114
부산 영도구   1425.0  0.041734  0.016657  0.003  0.0310  0.042  0.0530  0.100
부산 중구     711.0  0.030398  0.013633  0.003  0.0200  0.031  0.0395  0.092
부산 해운대구  1426.0  0.038826  0.016478  0.002  0.0280  0.038  0.0490  0.121

In [ ]:
df_June_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 6월')
by_cont_NO2=df_June_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2098.0  0.020368  0.011720  0.003  0.011  0.018  0.027  0.063
부산 금정구   1427.0  0.012584  0.007065  0.002  0.007  0.011  0.017  0.046
부산 기장군   1391.0  0.010295  0.005506  0.002  0.006  0.009  0.013  0.046
부산 남구     713.0  0.015561  0.009662  0.003  0.008  0.013  0.021  0.054
부산 동구    2136.0  0.029071  0.018543  0.002  0.014  0.027  0.041  0.122
부산 동래구   1361.0  0.018094  0.011527  0.002  0.009  0.015  0.024  0.065
부산 부산진구  1412.0  0.018195  0.010226  0.003  0.010  0.016  0.024  0.059
부산 북구    1422.0  0.015650  0.008800  0.002  0.009  0.014  0.021  0.052
부산 사상구   1427.0  0.016179  0.008112  0.003  0.010  0.014  0.021  0.047
부산 사하구   1423.0  0.015408  0.008594  0.003  0.009  0.013  0.019  0.067
부산 서구     709.0  0.015522  0.007798  0.003  0.010  0.014  0.020  0.047
부산 수영구    713.0  0.012885  0.007895  0.002  0.007  0.011  0.017  0.042
부산 연제구    712.0  0.016955  0.010646  0.002  0.009  0.015  0.022  0.064
부산 영도구   1425.0  0.012272  0.007994  0.002  0.006  0.010  0.015  0.054
부산 중구     713.0  0.015637  0.008288  0.003  0.009  0.014  0.020  0.053
부산 해운대구  1426.0  0.014670  0.007250  0.003  0.009  0.013  0.019  0.044

In [ ]:
df_June_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 6월')
by_cont_PM10=df_June_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%    75%    max
지역
부산 강서구   2056.0  26.232977  14.117295  2.0  16.0  23.0  33.00   93.0
부산 금정구   1431.0  27.809923  15.918286  2.0  17.0  25.0  35.00   95.0
부산 기장군   1423.0  25.374561  14.682561  2.0  15.0  22.0  31.00   89.0
부산 남구     693.0  26.090909  12.234656  8.0  16.0  24.0  33.00   78.0
부산 동구    2154.0  30.493036  16.841084  3.0  18.0  27.0  38.00  117.0
부산 동래구   1398.0  29.140200  16.248969  4.0  18.0  25.0  36.00   96.0
부산 부산진구  1423.0  26.785664  15.983457  2.0  16.0  23.0  34.00   93.0
부산 북구    1430.0  26.902098  15.993401  2.0  16.0  24.0  33.00   96.0
부산 사상구   1433.0  29.997906  17.153411  2.0  18.0  27.0  38.00  102.0
부산 사하구   1435.0  27.351916  15.246219  2.0  17.0  24.0  35.00   85.0
부산 서구     700.0  30.294286  16.028380  2.0  19.0  27.0  37.00   99.0
부산 수영구    710.0  28.312676  15.018399  4.0  18.0  25.0  34.00  143.0
부산 연제구    713.0  27.300140  16.104459  2.0  17.0  24.0  34.00   93.0
부산 영도구   1429.0  21.691393  13.019510  2.0  13.0  19.0  27.00   83.0
부산 중구     712.0  22.866573  14.205362  2.0  12.0  20.0  29.25   80.0
부산 해운대구  1435.0  24.731707  14.095849  2.0  15.0  21.0  31.00   92.0

In [ ]:
df_June_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 6월')
by_cont_PM25=df_June_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min   25%   50%   75%   max
지역
부산 강서구   2090.0  15.931100   9.787647  2.0   9.0  14.0  22.0  63.0
부산 금정구   1434.0  15.472803   8.881928  2.0   9.0  13.0  20.0  48.0
부산 기장군   1424.0  14.101826   8.719984  2.0   7.0  12.0  19.0  47.0
부산 남구     698.0  12.073066   8.584902  2.0   5.0  10.0  17.0  42.0
부산 동구    2142.0  14.975724   9.078637  2.0   8.0  13.0  20.0  55.0
부산 동래구   1425.0  15.292632   9.275245  2.0   8.0  13.0  20.0  48.0
부산 부산진구  1430.0  14.834266   9.189313  2.0   8.0  12.0  20.0  48.0
부산 북구    1431.0  15.066387   9.440379  2.0   8.0  12.0  20.0  54.0
부산 사상구   1436.0  18.122563  10.049925  2.0  11.0  16.0  24.0  66.0
부산 사하구   1414.0  16.413720   9.800016  2.0   9.0  14.0  22.0  60.0
부산 서구     714.0  16.894958   9.279297  2.0  10.0  15.0  22.0  47.0
부산 수영구    704.0  17.808239   8.877154  3.0  11.0  15.0  22.0  48.0
부산 연제구    718.0  14.384401   8.309386  2.0   8.0  12.0  18.0  43.0
부산 영도구   1433.0  11.552687   7.269084  2.0   6.0  10.0  16.0  42.0
부산 중구     700.0  13.800000   7.956606  2.0   8.0  12.0  18.0  44.0
부산 해운대구  1426.0  12.041374   8.136923  2.0   6.0  10.0  16.0  44.0

### July

In [ ]:
df_July = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 7월')

In [ ]:
#count empty/null values
print(df_July.isnull().sum().sum())

7785

In [ ]:
df_July_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 7월')
by_cont_SO2=df_July_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2203.0  0.004038  0.001742  0.002  0.003  0.004  0.005  0.017
부산 금정구    735.0  0.002676  0.001001  0.002  0.002  0.002  0.003  0.009
부산 기장군   1475.0  0.002837  0.001357  0.002  0.002  0.003  0.003  0.017
부산 남구     738.0  0.004149  0.001287  0.003  0.003  0.004  0.004  0.019
부산 동구    2176.0  0.004128  0.001918  0.001  0.003  0.003  0.005  0.017
부산 동래구    737.0  0.003891  0.000842  0.003  0.003  0.004  0.004  0.010
부산 부산진구  1476.0  0.003454  0.000960  0.002  0.003  0.003  0.004  0.011
부산 북구     739.0  0.003068  0.000718  0.002  0.003  0.003  0.003  0.009
부산 사상구   1439.0  0.003477  0.000993  0.002  0.003  0.003  0.004  0.011
부산 사하구   1475.0  0.002966  0.000899  0.002  0.002  0.003  0.003  0.010
부산 서구     736.0  0.004071  0.001203  0.003  0.003  0.004  0.005  0.014
부산 수영구      0.0       NaN       NaN    NaN    NaN    NaN    NaN    NaN
부산 연제구    739.0  0.002854  0.001050  0.001  0.002  0.003  0.003  0.010
부산 영도구   1478.0  0.003472  0.001197  0.002  0.003  0.003  0.004  0.020
부산 중구     737.0  0.003364  0.000963  0.002  0.003  0.003  0.004  0.011
부산 해운대구  1446.0  0.003007  0.001135  0.002  0.003  0.003  0.003  0.020

In [ ]:
df_July_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 7월')
by_cont_CO=df_July_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2203.0  0.318475  0.071057  0.2  0.3  0.3  0.4  0.7
부산 금정구    735.0  0.340816  0.063024  0.2  0.3  0.3  0.4  0.5
부산 기장군   1475.0  0.286034  0.063653  0.1  0.2  0.3  0.3  0.6
부산 남구     738.0  0.473442  0.062939  0.4  0.4  0.5  0.5  0.8
부산 동구    2202.0  0.373479  0.086191  0.2  0.3  0.4  0.4  0.8
부산 동래구    737.0  0.374355  0.079616  0.2  0.3  0.4  0.4  0.7
부산 부산진구  1476.0  0.351626  0.096467  0.1  0.3  0.4  0.4  0.6
부산 북구     739.0  0.408254  0.071754  0.3  0.4  0.4  0.5  0.7
부산 사상구   1441.0  0.332200  0.086225  0.2  0.3  0.3  0.4  0.7
부산 사하구   1473.0  0.356415  0.097947  0.2  0.3  0.3  0.4  1.1
부산 서구     736.0  0.418342  0.082663  0.3  0.4  0.4  0.5  0.8
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    739.0  0.346955  0.066061  0.2  0.3  0.3  0.4  0.6
부산 영도구   1478.0  0.275372  0.058320  0.2  0.2  0.3  0.3  0.6
부산 중구     737.0  0.371370  0.071341  0.2  0.3  0.4  0.4  0.7
부산 해운대구  1444.0  0.331787  0.058575  0.2  0.3  0.3  0.4  0.7

In [ ]:
df_July_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 7월')
by_cont_O3=df_July_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min      25%    50%    75%    max
지역
부산 강서구   2207.0  0.025359  0.014807  0.002  0.01400  0.024  0.034  0.125
부산 금정구   1463.0  0.027862  0.013580  0.002  0.01900  0.027  0.036  0.082
부산 기장군   1475.0  0.031285  0.014469  0.004  0.02100  0.030  0.039  0.088
부산 남구     738.0  0.027862  0.013478  0.002  0.01900  0.027  0.036  0.088
부산 동구    2174.0  0.020776  0.012746  0.002  0.01000  0.019  0.029  0.066
부산 동래구   1475.0  0.026131  0.014047  0.003  0.01500  0.025  0.035  0.080
부산 부산진구  1476.0  0.025978  0.014111  0.002  0.01500  0.025  0.034  0.082
부산 북구    1478.0  0.028547  0.014988  0.003  0.01700  0.027  0.037  0.086
부산 사상구   1426.0  0.025416  0.013357  0.002  0.01500  0.025  0.034  0.074
부산 사하구   1475.0  0.027950  0.013623  0.002  0.01700  0.028  0.037  0.074
부산 서구     736.0  0.027062  0.013146  0.002  0.01775  0.027  0.036  0.079
부산 수영구    739.0  0.031256  0.013547  0.003  0.02000  0.032  0.040  0.074
부산 연제구    739.0  0.028449  0.013839  0.004  0.01900  0.028  0.036  0.083
부산 영도구   1478.0  0.031739  0.015196  0.002  0.02200  0.031  0.040  0.108
부산 중구     736.0  0.021904  0.010623  0.003  0.01400  0.021  0.029  0.065
부산 해운대구  1426.0  0.028203  0.012660  0.002  0.01900  0.027  0.036  0.077

In [ ]:
df_July_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 7월')
by_cont_NO2=df_July_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   2179.0  0.018701  0.009726  0.003  0.011  0.017  0.025  0.057
부산 금정구   1438.0  0.011343  0.005416  0.002  0.007  0.010  0.014  0.034
부산 기장군   1475.0  0.009534  0.004555  0.002  0.006  0.009  0.012  0.030
부산 남구     738.0  0.012474  0.007037  0.001  0.007  0.011  0.016  0.043
부산 동구    2208.0  0.024076  0.013221  0.002  0.013  0.023  0.034  0.077
부산 동래구   1474.0  0.014426  0.008699  0.002  0.007  0.013  0.020  0.051
부산 부산진구  1476.0  0.016125  0.007959  0.003  0.010  0.014  0.021  0.049
부산 북구    1478.0  0.014817  0.007712  0.002  0.009  0.013  0.019  0.052
부산 사상구   1438.0  0.015684  0.007434  0.002  0.010  0.014  0.020  0.051
부산 사하구   1475.0  0.014664  0.007411  0.002  0.009  0.013  0.018  0.045
부산 서구     736.0  0.015130  0.007709  0.002  0.009  0.013  0.020  0.046
부산 수영구    739.0  0.011149  0.006148  0.001  0.006  0.010  0.015  0.042
부산 연제구    739.0  0.015434  0.007747  0.003  0.010  0.014  0.020  0.048
부산 영도구   1478.0  0.011987  0.006320  0.002  0.007  0.011  0.016  0.046
부산 중구     737.0  0.015220  0.006403  0.004  0.010  0.014  0.020  0.033
부산 해운대구  1444.0  0.013735  0.006298  0.002  0.009  0.013  0.017  0.047

In [ ]:
df_July_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 7월')
by_cont_PM10=df_July_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%    75%   max
지역
부산 강서구   2205.0  18.314739   9.794429  2.0  11.0  17.0  24.00  68.0
부산 금정구   1472.0  18.631114   8.893459  2.0  12.0  18.0  24.25  54.0
부산 기장군   1453.0  16.637990   9.898506  2.0   9.0  15.0  22.00  81.0
부산 남구     725.0  21.113103   9.185679  3.0  14.0  20.0  26.00  53.0
부산 동구    2215.0  21.876298  11.064811  2.0  14.0  21.0  28.00  72.0
부산 동래구   1471.0  19.527532   9.268726  2.0  13.0  18.0  25.00  65.0
부산 부산진구  1469.0  17.944180   9.422762  2.0  11.0  17.0  23.00  57.0
부산 북구    1485.0  17.830976   9.218981  2.0  11.0  17.0  24.00  55.0
부산 사상구   1448.0  20.361188   9.907035  2.0  14.0  19.0  26.00  58.0
부산 사하구   1480.0  18.352027   9.801050  2.0  11.0  17.0  24.00  61.0
부산 서구     724.0  21.997238  13.071777  2.0  13.0  20.0  29.00  73.0
부산 수영구    743.0  19.616420  10.040060  2.0  12.0  18.0  25.00  60.0
부산 연제구    742.0  18.656334   9.327840  2.0  12.0  18.0  24.00  49.0
부산 영도구   1481.0  14.015530   8.225153  2.0   8.0  13.0  18.00  51.0
부산 중구     728.0  16.424451   9.379647  2.0  10.0  15.0  22.00  59.0
부산 해운대구  1432.0  16.041201   8.791258  2.0   9.0  15.0  21.00  67.0

In [ ]:
df_July_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 7월')
by_cont_PM25=df_July_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean       std  min  25%   50%   75%   max
지역
부산 강서구   2173.0  10.659457  6.896098  2.0  6.0   9.0  14.0  43.0
부산 금정구   1481.0   9.960837  5.957719  2.0  6.0   9.0  12.0  41.0
부산 기장군   1472.0   9.735734  6.942426  2.0  5.0   8.0  12.0  46.0
부산 남구     742.0   7.991914  6.230389  2.0  3.0   6.0  11.0  41.0
부산 동구    2223.0  10.736842  7.107793  2.0  6.0   9.0  14.0  42.0
부산 동래구   1477.0   9.787407  6.130317  2.0  5.0   8.0  13.0  39.0
부산 부산진구  1481.0   9.548953  5.917262  2.0  5.0   8.0  13.0  35.0
부산 북구    1485.0  10.360943  6.289433  2.0  6.0   9.0  14.0  36.0
부산 사상구   1445.0  12.321799  6.611151  2.0  8.0  11.0  16.0  38.0
부산 사하구   1478.0  11.392422  7.474008  2.0  6.0  10.0  15.0  47.0
부산 서구     701.0  14.243937  7.778660  2.0  9.0  13.0  17.0  52.0
부산 수영구    730.0  12.521918  6.615664  2.0  8.0  11.0  15.0  46.0
부산 연제구    742.0  10.254717  6.150042  2.0  6.0   9.0  14.0  35.0
부산 영도구   1480.0   7.441216  5.673735  2.0  3.0   6.0  10.0  37.0
부산 중구     713.0  11.158485  6.494281  2.0  7.0  10.0  14.0  39.0
부산 해운대구  1400.0   8.362857  5.673740  2.0  4.0   7.0  11.0  46.0

###August

In [ ]:
df_August = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 8월')

In [ ]:
#count empty/null values
print(df_August.isnull().sum().sum())

9004

In [ ]:
df_August_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 8월')
by_cont_SO2=df_August_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std     min    25%    50%    75%    max
지역
부산 강서구   2941.0  0.004553  0.002311  0.0012  0.003  0.004  0.006  0.030
부산 금정구    738.0  0.002833  0.001089  0.0020  0.002  0.003  0.003  0.010
부산 기장군   1472.0  0.003307  0.001454  0.0020  0.002  0.003  0.004  0.014
부산 남구     737.0  0.005095  0.001517  0.0030  0.004  0.005  0.006  0.016
부산 동구    2199.0  0.004838  0.002480  0.0010  0.003  0.004  0.006  0.024
부산 동래구    739.0  0.004127  0.000967  0.0030  0.004  0.004  0.004  0.010
부산 부산진구  1477.0  0.003770  0.001371  0.0020  0.003  0.003  0.004  0.020
부산 북구     734.0  0.003243  0.000907  0.0020  0.003  0.003  0.003  0.008
부산 사상구   1475.0  0.004148  0.001282  0.0030  0.003  0.004  0.004  0.016
부산 사하구   1476.0  0.003386  0.001008  0.0020  0.003  0.003  0.004  0.012
부산 서구     737.0  0.005096  0.001576  0.0020  0.004  0.005  0.006  0.017
부산 수영구      0.0       NaN       NaN     NaN    NaN    NaN    NaN    NaN
부산 연제구    736.0  0.003196  0.001400  0.0020  0.002  0.003  0.003  0.013
부산 영도구   1474.0  0.003609  0.001104  0.0020  0.003  0.003  0.004  0.016
부산 중구     736.0  0.003205  0.000959  0.0020  0.003  0.003  0.003  0.011
부산 해운대구  1475.0  0.003665  0.001230  0.0020  0.003  0.003  0.004  0.015

In [ ]:
df_August_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 8월')
by_cont_CO=df_August_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   2941.0  0.279259  0.097441  0.0  0.2  0.3  0.3  0.8
부산 금정구    738.0  0.315447  0.057585  0.2  0.3  0.3  0.3  0.5
부산 기장군   1476.0  0.289837  0.071438  0.2  0.2  0.3  0.3  0.6
부산 남구     737.0  0.436228  0.064085  0.4  0.4  0.4  0.5  1.0
부산 동구    2204.0  0.373911  0.141116  0.1  0.3  0.3  0.5  0.9
부산 동래구    739.0  0.326252  0.074269  0.2  0.3  0.3  0.4  0.6
부산 부산진구  1472.0  0.326698  0.089263  0.1  0.3  0.3  0.4  0.6
부산 북구     734.0  0.341281  0.060683  0.2  0.3  0.3  0.4  0.6
부산 사상구   1475.0  0.288203  0.076449  0.2  0.2  0.3  0.3  0.6
부산 사하구   1476.0  0.311450  0.088131  0.2  0.3  0.3  0.3  1.2
부산 서구     737.0  0.351153  0.076093  0.2  0.3  0.3  0.4  0.9
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    736.0  0.297147  0.071371  0.2  0.3  0.3  0.3  0.5
부산 영도구   1474.0  0.235346  0.059919  0.2  0.2  0.2  0.3  0.7
부산 중구     736.0  0.348913  0.068205  0.2  0.3  0.3  0.4  0.7
부산 해운대구  1476.0  0.292209  0.062817  0.2  0.3  0.3  0.3  0.6

In [ ]:
df_August_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 8월')
by_cont_O3=df_August_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min      25%    50%      75%    max
지역
부산 강서구   2866.0  0.022931  0.017959  0.001  0.01000  0.018  0.03000  0.128
부산 금정구   1138.0  0.026587  0.019454  0.003  0.01500  0.020  0.03100  0.147
부산 기장군   1479.0  0.030273  0.020512  0.005  0.01700  0.024  0.03600  0.178
부산 남구     736.0  0.024647  0.020251  0.001  0.01000  0.019  0.03300  0.123
부산 동구    2203.0  0.019608  0.015755  0.001  0.00800  0.015  0.02700  0.098
부산 동래구   1476.0  0.024378  0.018930  0.004  0.01200  0.019  0.03025  0.160
부산 부산진구  1477.0  0.024270  0.019534  0.003  0.01100  0.018  0.03200  0.137
부산 북구    1474.0  0.026474  0.021384  0.003  0.01200  0.020  0.03500  0.172
부산 사상구   1475.0  0.024514  0.017059  0.003  0.01300  0.020  0.03200  0.127
부산 사하구   1368.0  0.028874  0.018248  0.003  0.01600  0.025  0.03700  0.123
부산 서구     737.0  0.026554  0.015285  0.003  0.01500  0.023  0.03400  0.088
부산 수영구    676.0  0.028707  0.019642  0.004  0.01400  0.024  0.03900  0.113
부산 연제구    736.0  0.024668  0.020129  0.004  0.01000  0.019  0.03200  0.153
부산 영도구   1478.0  0.027537  0.020664  0.002  0.01300  0.022  0.03500  0.137
부산 중구     738.0  0.026260  0.015841  0.007  0.01500  0.022  0.03300  0.107
부산 해운대구  1464.0  0.027684  0.019360  0.001  0.01475  0.023  0.03500  0.141

In [ ]:
df_August_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 8월')
by_cont_NO2=df_August_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std     min     25%    50%    75%     max
지역
부산 강서구   2939.0  0.016514  0.010192  0.0013  0.0090  0.014  0.022  0.0724
부산 금정구   1199.0  0.009001  0.005093  0.0010  0.0050  0.008  0.012  0.0380
부산 기장군   1476.0  0.007836  0.003911  0.0020  0.0050  0.007  0.010  0.0280
부산 남구     737.0  0.012543  0.006779  0.0020  0.0080  0.012  0.016  0.0540
부산 동구    2179.0  0.019095  0.012274  0.0020  0.0105  0.017  0.024  0.0870
부산 동래구   1289.0  0.014092  0.007672  0.0020  0.0090  0.012  0.018  0.0630
부산 부산진구  1477.0  0.014270  0.007003  0.0030  0.0090  0.013  0.018  0.0510
부산 북구    1472.0  0.012061  0.005895  0.0020  0.0080  0.011  0.015  0.0430
부산 사상구   1473.0  0.012483  0.006361  0.0030  0.0080  0.011  0.016  0.0510
부산 사하구   1476.0  0.011108  0.005567  0.0030  0.0070  0.010  0.014  0.0440
부산 서구     737.0  0.010408  0.005010  0.0020  0.0070  0.009  0.013  0.0340
부산 수영구    739.0  0.009494  0.005601  0.0010  0.0055  0.008  0.012  0.0350
부산 연제구    736.0  0.013730  0.006729  0.0030  0.0090  0.013  0.017  0.0520
부산 영도구   1474.0  0.010002  0.005879  0.0020  0.0060  0.009  0.012  0.0450
부산 중구     736.0  0.011588  0.005626  0.0030  0.0080  0.010  0.014  0.0420
부산 해운대구  1475.0  0.011505  0.005829  0.0020  0.0080  0.010  0.014  0.0500

In [ ]:
df_August_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 8월')
by_cont_PM10=df_August_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%   75%    max
지역
부산 강서구   2920.0  30.305822  18.508351  2.0  17.0  27.0  42.0  126.0
부산 금정구   1204.0  32.431063  16.767573  2.0  21.0  30.0  41.0  116.0
부산 기장군   1467.0  27.421268  15.670326  2.0  17.0  25.0  35.0  116.0
부산 남구     721.0  35.478502  17.846332  6.0  24.0  32.0  43.0  111.0
부산 동구    2158.0  34.785449  19.163954  2.0  21.0  30.0  44.0  117.0
부산 동래구   1476.0  29.930894  16.382896  3.0  18.0  26.0  39.0  107.0
부산 부산진구  1472.0  30.502038  17.984395  2.0  18.0  26.0  39.0  120.0
부산 북구    1484.0  28.648922  16.236205  2.0  17.0  25.0  38.0  105.0
부산 사상구   1482.0  31.744939  17.628387  3.0  19.0  27.0  42.0  115.0
부산 사하구   1484.0  30.283019  18.469036  2.0  17.0  26.0  39.0  107.0
부산 서구     709.0  31.059238  16.979778  2.0  19.0  27.0  40.0  109.0
부산 수영구    735.0  34.985034  17.937784  4.0  23.0  31.0  44.0  106.0
부산 연제구    720.0  31.088889  18.602208  2.0  18.0  27.0  42.0  106.0
부산 영도구   1482.0  26.421727  17.123404  2.0  14.0  22.0  35.0  103.0
부산 중구     728.0  38.601648  19.895341  2.0  24.0  36.0  48.0  114.0
부산 해운대구  1464.0  28.733607  16.517770  2.0  18.0  25.0  36.0  101.0

In [ ]:
df_August_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 8월')
by_cont_PM25=df_August_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min   25%   50%   75%   max
지역
부산 강서구   2884.0  20.121706  15.114872  0.0   8.0  16.0  29.0  86.0
부산 금정구   1206.0  18.150912  12.864972  2.0   8.0  15.0  26.0  78.0
부산 기장군   1460.0  18.273288  13.396673  2.0   8.0  15.0  26.0  81.0
부산 남구     742.0  16.983827  13.777576  2.0   6.0  12.0  25.0  63.0
부산 동구    2191.0  19.367869  13.790068  2.0   9.0  15.0  28.0  77.0
부산 동래구   1472.0  17.665082  12.463458  2.0   8.0  14.0  25.0  69.0
부산 부산진구  1483.0  16.756575  12.999562  2.0   7.0  13.0  24.0  71.0
부산 북구    1483.0  17.924477  12.540502  2.0   8.0  14.0  26.0  71.0
부산 사상구   1482.0  19.533063  13.173410  2.0   9.0  16.0  28.0  72.0
부산 사하구   1485.0  18.729966  14.683193  2.0   8.0  14.0  26.0  80.0
부산 서구     727.0  21.521320  13.806884  2.0  11.0  17.0  30.0  71.0
부산 수영구    738.0  21.860434  13.859081  4.0  12.0  16.0  30.0  70.0
부산 연제구    741.0  18.267206  12.746229  2.0   9.0  15.0  26.0  62.0
부산 영도구   1485.0  16.453872  13.795876  2.0   6.0  11.0  25.0  71.0
부산 중구     731.0  20.497948  13.946313  2.0  10.0  16.0  28.0  70.0
부산 해운대구  1468.0  17.970708  14.056167  2.0   7.0  13.0  26.0  76.0

###September

In [ ]:
df_September = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 9월')

In [ ]:
#count empty/null values
print(df_September.isnull().sum().sum())

8555

In [ ]:
df_September_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 9월')
by_cont_SO2=df_September_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std     min    25%    50%    75%     max
지역
부산 강서구   3211.0  0.003631  0.001906  0.0004  0.002  0.003  0.005  0.0127
부산 금정구   1120.0  0.002680  0.000931  0.0020  0.002  0.002  0.003  0.0090
부산 기장군   1424.0  0.003026  0.001728  0.0020  0.002  0.003  0.003  0.0240
부산 남구     708.0  0.004619  0.001171  0.0030  0.004  0.004  0.005  0.0170
부산 동구    2131.0  0.003343  0.001264  0.0010  0.003  0.003  0.004  0.0170
부산 동래구    712.0  0.003626  0.000702  0.0030  0.003  0.004  0.004  0.0070
부산 부산진구  1425.0  0.003505  0.000823  0.0020  0.003  0.003  0.004  0.0080
부산 북구     715.0  0.003161  0.000618  0.0020  0.003  0.003  0.003  0.0070
부산 사상구   1414.0  0.003716  0.000999  0.0020  0.003  0.004  0.004  0.0130
부산 사하구   1413.0  0.003087  0.000799  0.0020  0.003  0.003  0.003  0.0100
부산 서구     707.0  0.003890  0.001405  0.0020  0.003  0.004  0.004  0.0190
부산 수영구      0.0       NaN       NaN     NaN    NaN    NaN    NaN     NaN
부산 연제구    704.0  0.002564  0.000879  0.0010  0.002  0.002  0.003  0.0070
부산 영도구   1426.0  0.003445  0.001044  0.0020  0.003  0.003  0.004  0.0120
부산 중구     715.0  0.002821  0.001259  0.0020  0.002  0.003  0.003  0.0170
부산 해운대구  1428.0  0.003714  0.001221  0.0020  0.003  0.003  0.004  0.0160

In [ ]:
df_September_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 9월')
by_cont_CO=df_September_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   3211.0  0.340891  0.085053  0.2  0.3  0.3  0.4  0.8
부산 금정구   1120.0  0.375179  0.079374  0.2  0.3  0.4  0.4  0.7
부산 기장군   1424.0  0.350983  0.087996  0.2  0.3  0.3  0.4  0.7
부산 남구     708.0  0.488559  0.077600  0.4  0.4  0.5  0.5  0.8
부산 동구    2131.0  0.442515  0.110628  0.2  0.4  0.4  0.5  0.9
부산 동래구    712.0  0.381601  0.079458  0.2  0.3  0.4  0.4  0.7
부산 부산진구  1383.0  0.345264  0.128800  0.1  0.3  0.3  0.4  0.8
부산 북구     715.0  0.382657  0.084556  0.2  0.3  0.4  0.4  0.7
부산 사상구   1421.0  0.363547  0.091049  0.2  0.3  0.4  0.4  0.8
부산 사하구   1413.0  0.381953  0.102275  0.2  0.3  0.4  0.4  1.5
부산 서구     707.0  0.406789  0.089438  0.3  0.3  0.4  0.4  0.8
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    704.0  0.348153  0.079450  0.2  0.3  0.3  0.4  0.7
부산 영도구   1426.0  0.306732  0.064755  0.2  0.3  0.3  0.3  0.7
부산 중구     715.0  0.308252  0.066960  0.2  0.3  0.3  0.3  0.6
부산 해운대구  1428.0  0.337815  0.068613  0.2  0.3  0.3  0.4  0.7

In [ ]:
df_September_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 9월')
by_cont_O3=df_September_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min      25%    50%    75%    max
지역
부산 강서구   3160.0  0.029913  0.016007  0.002  0.01800  0.028  0.039  0.094
부산 금정구   1044.0  0.033286  0.015653  0.002  0.02300  0.033  0.041  0.090
부산 기장군   1424.0  0.038204  0.016702  0.004  0.02600  0.037  0.046  0.101
부산 남구     708.0  0.038157  0.013763  0.006  0.03075  0.038  0.046  0.088
부산 동구    2131.0  0.032648  0.013931  0.002  0.02300  0.032  0.040  0.097
부산 동래구   1408.0  0.033247  0.015491  0.002  0.02200  0.032  0.042  0.086
부산 부산진구  1425.0  0.033279  0.016187  0.002  0.02300  0.032  0.042  0.089
부산 북구    1423.0  0.034937  0.016483  0.003  0.02350  0.034  0.044  0.099
부산 사상구   1421.0  0.030483  0.015161  0.002  0.02100  0.030  0.039  0.092
부산 사하구   1419.0  0.036519  0.016266  0.003  0.02700  0.035  0.045  0.103
부산 서구     707.0  0.039352  0.014513  0.005  0.03000  0.037  0.046  0.099
부산 수영구    707.0  0.038686  0.014508  0.004  0.02900  0.038  0.047  0.093
부산 연제구    704.0  0.035888  0.015338  0.003  0.02600  0.034  0.044  0.085
부산 영도구   1426.0  0.039362  0.016875  0.002  0.02900  0.037  0.047  0.112
부산 중구     715.0  0.034359  0.013815  0.004  0.02600  0.032  0.040  0.091
부산 해운대구  1428.0  0.035738  0.015394  0.003  0.02700  0.034  0.044  0.094

In [ ]:
df_September_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 9월')
by_cont_NO2=df_September_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%    50%     75%    max
지역
부산 강서구   3202.0  0.018549  0.011323  0.002  0.010  0.016  0.0247  0.076
부산 금정구   1119.0  0.011971  0.006963  0.001  0.007  0.010  0.0160  0.043
부산 기장군   1424.0  0.008634  0.005181  0.002  0.005  0.007  0.0110  0.030
부산 남구     708.0  0.009907  0.007845  0.001  0.004  0.007  0.0140  0.051
부산 동구    2131.0  0.017765  0.012105  0.001  0.008  0.015  0.0245  0.097
부산 동래구   1421.0  0.015016  0.008880  0.002  0.008  0.013  0.0200  0.067
부산 부산진구  1425.0  0.014307  0.008572  0.003  0.008  0.012  0.0190  0.057
부산 북구    1427.0  0.013369  0.007949  0.002  0.007  0.011  0.0180  0.044
부산 사상구   1421.0  0.015426  0.009095  0.002  0.009  0.013  0.0210  0.061
부산 사하구   1342.0  0.013828  0.009116  0.002  0.007  0.011  0.0180  0.059
부산 서구     707.0  0.009932  0.005640  0.001  0.006  0.009  0.0130  0.034
부산 수영구    705.0  0.009068  0.006351  0.001  0.005  0.007  0.0120  0.039
부산 연제구    703.0  0.013595  0.008466  0.001  0.007  0.011  0.0180  0.051
부산 영도구   1426.0  0.009451  0.006482  0.002  0.005  0.008  0.0120  0.044
부산 중구     715.0  0.009952  0.005662  0.002  0.006  0.009  0.0130  0.038
부산 해운대구  1428.0  0.011426  0.006793  0.001  0.007  0.009  0.0150  0.042

In [ ]:
df_September_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 9월')
by_cont_PM10=df_September_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%   75%    max
지역
부산 강서구   3214.0  26.494400  14.883440  2.0  17.0  23.0  33.0  114.0
부산 금정구   1121.0  21.160571  11.188367  2.0  14.0  19.0  25.0   74.0
부산 기장군   1387.0  21.509733  12.231256  2.0  13.0  19.0  27.0   76.0
부산 남구     700.0  25.890000  13.180302  2.0  17.0  23.0  30.0   85.0
부산 동구    2103.0  25.905849  14.214735  2.0  16.0  22.0  32.0   88.0
부산 동래구   1379.0  24.648296  13.054825  2.0  16.0  21.0  31.0   76.0
부산 부산진구  1432.0  22.783520  13.124222  2.0  14.0  20.0  28.0   90.0
부산 북구    1428.0  22.813025  12.620466  2.0  15.0  20.0  27.0   80.0
부산 사상구   1428.0  26.497899  14.790833  2.0  16.0  23.0  34.0  105.0
부산 사하구   1423.0  23.375966  14.395407  2.0  13.0  19.0  30.5   87.0
부산 서구     693.0  26.506494  15.232173  2.0  17.0  23.0  32.0  101.0
부산 수영구    695.0  24.244604  13.238688  2.0  16.0  20.0  28.0   77.0
부산 연제구    706.0  23.230878  14.507683  2.0  14.0  19.0  27.0   86.0
부산 영도구   1403.0  20.434070  11.373714  2.0  13.0  18.0  24.5   69.0
부산 중구     706.0  28.138810  15.313388  2.0  18.0  24.0  34.0   91.0
부산 해운대구  1399.0  22.854896  12.306864  2.0  15.0  20.0  28.0   75.0

In [ ]:
df_September_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 9월')
by_cont_PM25=df_September_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min  25%   50%   75%   max
지역
부산 강서구   3165.0  13.789889  10.379360  0.0  7.0  11.0  18.0  93.0
부산 금정구   1124.0  10.618327   7.283305  2.0  6.0   9.0  13.0  48.0
부산 기장군   1379.0  12.791878   8.952514  2.0  6.0  10.0  16.5  54.0
부산 남구     706.0   9.512748   8.829543  2.0  3.0   6.0  13.0  53.0
부산 동구    2121.0  12.810467   9.271782  2.0  7.0  10.0  17.0  61.0
부산 동래구   1421.0  12.762139   8.519142  2.0  7.0  10.0  17.0  51.0
부산 부산진구  1434.0  12.044630   8.485657  2.0  6.0   9.0  16.0  54.0
부산 북구    1435.0  12.541463   8.610682  2.0  7.0  10.0  16.0  52.0
부산 사상구   1421.0  14.969740   9.689682  2.0  8.0  12.0  20.0  78.0
부산 사하구   1428.0  13.289216   9.955316  2.0  6.0  10.0  18.0  64.0
부산 서구     700.0  13.662857   9.675008  2.0  7.0  10.5  17.0  59.0
부산 수영구    703.0  14.369844   8.476702  2.0  9.0  12.0  17.0  54.0
부산 연제구    707.0  13.319661   8.873342  2.0  7.0  11.0  16.0  54.0
부산 영도구   1393.0  11.175879   7.982106  2.0  6.0   9.0  15.0  52.0
부산 중구     699.0  13.052933   9.317931  2.0  6.0  10.0  18.0  54.0
부산 해운대구  1415.0  11.134982   8.464387  2.0  5.0   8.0  15.0  48.0

###October

In [ ]:
df_October = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 10월')

In [ ]:
#count empty/null values
print(df_October.isnull().sum().sum())

6908

In [ ]:
df_October_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 10월')
by_cont_SO2=df_October_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std     min    25%    50%    75%    max
지역
부산 강서구   3649.0  0.003721  0.001749  0.0005  0.003  0.003  0.005  0.014
부산 금정구   1899.0  0.002731  0.000823  0.0020  0.002  0.003  0.003  0.010
부산 기장군   1477.0  0.002988  0.001042  0.0020  0.002  0.003  0.003  0.014
부산 남구     713.0  0.004391  0.000761  0.0030  0.004  0.004  0.005  0.010
부산 동구    2214.0  0.003349  0.000957  0.0010  0.003  0.003  0.004  0.011
부산 동래구    739.0  0.003622  0.000684  0.0030  0.003  0.004  0.004  0.008
부산 부산진구  1475.0  0.003763  0.000780  0.0020  0.003  0.004  0.004  0.008
부산 북구     723.0  0.003181  0.000478  0.0030  0.003  0.003  0.003  0.006
부산 사상구   1448.0  0.003536  0.001154  0.0020  0.003  0.003  0.004  0.022
부산 사하구   1451.0  0.003433  0.000884  0.0020  0.003  0.003  0.004  0.014
부산 서구     713.0  0.003670  0.001009  0.0020  0.003  0.003  0.004  0.012
부산 수영구      0.0       NaN       NaN     NaN    NaN    NaN    NaN    NaN
부산 연제구    740.0  0.003081  0.000822  0.0020  0.003  0.003  0.003  0.008
부산 영도구   1475.0  0.003552  0.000868  0.0020  0.003  0.003  0.004  0.013
부산 중구     736.0  0.002990  0.000776  0.0020  0.003  0.003  0.003  0.009
부산 해운대구  1474.0  0.003935  0.000953  0.0020  0.003  0.004  0.004  0.012

In [ ]:
df_October_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 10월')
by_cont_CO=df_October_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   3650.0  0.360795  0.092881  0.1  0.3  0.4  0.4  1.0
부산 금정구   1904.0  0.415441  0.088087  0.2  0.4  0.4  0.5  0.8
부산 기장군   1477.0  0.307651  0.078448  0.2  0.3  0.3  0.3  0.6
부산 남구     737.0  0.505156  0.076261  0.4  0.5  0.5  0.5  0.8
부산 동구    2214.0  0.419919  0.094282  0.2  0.4  0.4  0.5  0.9
부산 동래구    739.0  0.417997  0.085466  0.3  0.4  0.4  0.5  0.8
부산 부산진구  1474.0  0.439417  0.124467  0.1  0.4  0.4  0.5  1.0
부산 북구     739.0  0.414750  0.094920  0.3  0.4  0.4  0.5  0.8
부산 사상구   1451.0  0.381185  0.093795  0.2  0.3  0.4  0.4  0.8
부산 사하구   1451.0  0.436871  0.187465  0.2  0.4  0.4  0.5  3.8
부산 서구     713.0  0.439691  0.081305  0.3  0.4  0.4  0.5  0.8
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    740.0  0.371892  0.090968  0.2  0.3  0.4  0.4  0.8
부산 영도구   1476.0  0.314160  0.062891  0.2  0.3  0.3  0.3  0.5
부산 중구     736.0  0.393207  0.073642  0.3  0.3  0.4  0.4  0.7
부산 해운대구  1474.0  0.376730  0.077783  0.3  0.3  0.4  0.4  0.8

In [ ]:
df_October_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 10월')
by_cont_O3=df_October_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min    25%    50%    75%    max
지역
부산 강서구   3593.0  0.030254  0.016111  0.000  0.018  0.030  0.041  0.092
부산 금정구   1886.0  0.031512  0.016674  0.002  0.018  0.031  0.043  0.093
부산 기장군   1477.0  0.038371  0.014158  0.007  0.029  0.037  0.047  0.099
부산 남구     737.0  0.038669  0.014108  0.004  0.031  0.039  0.047  0.100
부산 동구    2214.0  0.034740  0.013286  0.002  0.027  0.035  0.043  0.094
부산 동래구   1457.0  0.030839  0.016380  0.002  0.018  0.031  0.042  0.107
부산 부산진구  1475.0  0.028391  0.017209  0.002  0.014  0.029  0.041  0.099
부산 북구    1477.0  0.031700  0.016626  0.002  0.019  0.032  0.044  0.083
부산 사상구   1451.0  0.026328  0.016024  0.002  0.013  0.026  0.039  0.083
부산 사하구   1451.0  0.034351  0.015855  0.002  0.023  0.035  0.045  0.104
부산 서구     712.0  0.039947  0.014279  0.003  0.031  0.040  0.048  0.106
부산 수영구    713.0  0.036066  0.015696  0.003  0.026  0.036  0.045  0.101
부산 연제구    740.0  0.032234  0.016294  0.002  0.020  0.033  0.043  0.085
부산 영도구   1476.0  0.038692  0.015949  0.002  0.028  0.038  0.047  0.104
부산 중구     736.0  0.034751  0.012155  0.003  0.028  0.034  0.041  0.101
부산 해운대구  1474.0  0.033976  0.015186  0.003  0.024  0.033  0.043  0.103

In [ ]:
df_October_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 10월')
by_cont_NO2=df_October_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min     25%    50%     75%     max
지역
부산 강서구   3650.0  0.023103  0.015397  0.003  0.0119  0.019  0.0310  0.1338
부산 금정구   1904.0  0.017838  0.011119  0.003  0.0090  0.015  0.0240  0.0730
부산 기장군   1477.0  0.010427  0.006745  0.003  0.0060  0.008  0.0130  0.0580
부산 남구     737.0  0.013650  0.010434  0.002  0.0060  0.010  0.0170  0.0690
부산 동구    2214.0  0.020101  0.013906  0.002  0.0090  0.016  0.0270  0.0840
부산 동래구   1457.0  0.018353  0.010440  0.003  0.0100  0.016  0.0250  0.0610
부산 부산진구  1475.0  0.019950  0.012936  0.002  0.0100  0.016  0.0275  0.0700
부산 북구    1477.0  0.017940  0.011405  0.002  0.0090  0.015  0.0250  0.0620
부산 사상구   1451.0  0.021824  0.013659  0.004  0.0110  0.018  0.0300  0.1000
부산 사하구   1439.0  0.017344  0.010402  0.002  0.0090  0.014  0.0240  0.0600
부산 서구     713.0  0.014018  0.007727  0.003  0.0080  0.012  0.0180  0.0450
부산 수영구    713.0  0.014087  0.011027  0.003  0.0070  0.010  0.0180  0.0670
부산 연제구    740.0  0.020557  0.014493  0.003  0.0100  0.016  0.0260  0.0830
부산 영도구   1476.0  0.013944  0.009520  0.002  0.0070  0.011  0.0190  0.0690
부산 중구     736.0  0.012101  0.006993  0.003  0.0070  0.010  0.0150  0.0460
부산 해운대구  1474.0  0.015752  0.010395  0.002  0.0080  0.013  0.0200  0.0700

In [ ]:
df_October_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 10월')
by_cont_PM10=df_October_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std   min   25%   50%   75%    max
지역
부산 강서구   3637.0  34.562552  18.011922   2.0  23.0  30.0  41.0  144.0
부산 금정구   1892.0  26.239958  13.776202   6.0  18.0  24.0  31.0  106.0
부산 기장군   1463.0  26.106630  12.772324   6.0  18.0  24.0  30.0  114.0
부산 남구     729.0  31.122085  14.349931  10.0  23.0  29.0  36.0  114.0
부산 동구    2205.0  29.936054  15.513035   2.0  21.0  27.0  35.0  129.0
부산 동래구   1439.0  30.808895  15.358635   9.0  21.0  27.0  35.0  115.0
부산 부산진구  1457.0  31.319835  16.538188   5.0  21.0  28.0  37.0  129.0
부산 북구    1470.0  29.063265  14.254831   8.0  20.0  26.0  33.0  113.0
부산 사상구   1451.0  34.589249  17.354582   6.0  23.0  31.0  42.0  122.0
부산 사하구   1453.0  31.104611  20.549110   7.0  19.0  27.0  37.0  389.0
부산 서구     717.0  32.054393  15.364968   7.0  23.0  28.0  37.0  131.0
부산 수영구    712.0  30.306180  14.860498   9.0  22.0  27.0  34.0  119.0
부산 연제구    698.0  30.266476  16.310933  10.0  21.0  26.0  34.0  126.0
부산 영도구   1480.0  25.960811  13.225044   7.0  18.0  23.0  30.0  112.0
부산 중구     737.0  34.857531  15.534413  10.0  25.0  32.0  40.0  121.0
부산 해운대구  1451.0  27.163336  13.588745   6.0  19.0  25.0  30.0  161.0

In [ ]:
df_October_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 10월')
by_cont_PM25=df_October_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min   25%   50%    75%    max
지역
부산 강서구   3648.0  17.186952  11.847126  2.0   9.0  14.0  21.00   93.0
부산 금정구   1912.0  13.533996   9.253503  1.0   8.0  11.0  17.00   62.0
부산 기장군   1475.0  14.085424   8.566970  3.0   9.0  12.0  17.00   61.0
부산 남구     743.0  11.094213   9.299263  2.0   5.0   8.0  14.00   56.0
부산 동구    2212.0  13.932640   9.242670  2.0   8.0  12.0  17.00   63.0
부산 동래구   1455.0  15.138144   9.484412  2.0   9.0  13.0  18.00   66.0
부산 부산진구  1474.0  16.367707  10.781629  2.0   9.0  14.0  20.00   67.0
부산 북구    1480.0  15.064865   9.047683  2.0   9.0  13.0  18.00   60.0
부산 사상구   1451.0  18.714680  11.029424  2.0  11.0  16.0  23.00   66.0
부산 사하구   1440.0  17.184028  12.037243  2.0   9.0  14.0  22.00  117.0
부산 서구     719.0  14.125174   9.539300  2.0   8.0  11.0  18.00   62.0
부산 수영구    715.0  17.267133   9.282372  5.0  11.0  15.0  20.00   62.0
부산 연제구    736.0  15.211957   9.811761  2.0   9.0  12.5  18.00   62.0
부산 영도구   1453.0  13.748796   8.683338  2.0   8.0  12.0  17.00   62.0
부산 중구     734.0  15.001362   9.624108  2.0   9.0  12.0  19.75   58.0
부산 해운대구  1471.0  13.154997   8.649276  2.0   8.0  11.0  16.00   66.0

###November

In [ ]:
df_November = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 11월')

In [ ]:
#count empty/null values
print(df_November.isnull().sum().sum())

5991

In [ ]:
df_November_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 11월')
by_cont_SO2=df_November_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std     min    25%     50%    75%    max
지역
부산 강서구   3549.0  0.003912  0.001770  0.0008  0.003  0.0038  0.005  0.021
부산 금정구   2120.0  0.002757  0.000820  0.0020  0.002  0.0030  0.003  0.012
부산 기장군   1431.0  0.003601  0.001250  0.0020  0.003  0.0030  0.004  0.017
부산 남구     712.0  0.004243  0.001210  0.0020  0.004  0.0040  0.005  0.009
부산 동구    2142.0  0.003472  0.000950  0.0020  0.003  0.0030  0.004  0.009
부산 동래구    714.0  0.004206  0.000681  0.0030  0.004  0.0040  0.005  0.008
부산 부산진구  1428.0  0.003522  0.000842  0.0020  0.003  0.0030  0.004  0.010
부산 북구     716.0  0.003258  0.000478  0.0030  0.003  0.0030  0.003  0.006
부산 사상구   1427.0  0.003797  0.001534  0.0020  0.003  0.0030  0.004  0.019
부산 사하구   1429.0  0.003484  0.000883  0.0020  0.003  0.0030  0.004  0.011
부산 서구     714.0  0.003672  0.000692  0.0020  0.003  0.0040  0.004  0.007
부산 수영구      0.0       NaN       NaN     NaN    NaN     NaN    NaN    NaN
부산 연제구    706.0  0.002949  0.000549  0.0020  0.003  0.0030  0.003  0.007
부산 영도구   1424.0  0.003667  0.000911  0.0020  0.003  0.0030  0.004  0.009
부산 중구     701.0  0.002937  0.000599  0.0020  0.003  0.0030  0.003  0.007
부산 해운대구  1419.0  0.003789  0.000958  0.0020  0.003  0.0040  0.004  0.012

In [ ]:
df_November_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 11월')
by_cont_CO=df_November_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%  75%  max
지역
부산 강서구   3551.0  0.380597  0.106801  0.1  0.3  0.4  0.4  0.9
부산 금정구   2139.0  0.435577  0.086785  0.3  0.4  0.4  0.5  0.8
부산 기장군   1431.0  0.327813  0.087439  0.2  0.3  0.3  0.4  0.7
부산 남구     712.0  0.508989  0.085540  0.4  0.5  0.5  0.6  1.1
부산 동구    2142.0  0.392110  0.102141  0.2  0.3  0.4  0.4  0.9
부산 동래구    714.0  0.440896  0.103554  0.3  0.4  0.4  0.5  0.9
부산 부산진구  1428.0  0.482703  0.124848  0.1  0.4  0.5  0.6  0.9
부산 북구     716.0  0.459218  0.104374  0.3  0.4  0.4  0.5  0.8
부산 사상구   1428.0  0.398459  0.112051  0.2  0.3  0.4  0.5  1.0
부산 사하구   1429.0  0.474318  0.196481  0.3  0.4  0.4  0.5  2.3
부산 서구     714.0  0.442577  0.071506  0.3  0.4  0.4  0.5  0.7
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
부산 연제구    706.0  0.374504  0.119935  0.2  0.3  0.3  0.4  0.9
부산 영도구   1425.0  0.312702  0.064150  0.2  0.3  0.3  0.3  0.5
부산 중구     701.0  0.397860  0.087234  0.3  0.3  0.4  0.4  0.9
부산 해운대구  1419.0  0.389782  0.087441  0.2  0.3  0.4  0.4  0.7

In [ ]:
df_November_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 11월')
by_cont_O3=df_November_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min      25%    50%    75%    max
지역
부산 강서구   3548.0  0.021089  0.013512  0.000  0.00800  0.022  0.031  0.063
부산 금정구   2089.0  0.021834  0.013638  0.002  0.00900  0.022  0.032  0.063
부산 기장군   1431.0  0.028308  0.011339  0.002  0.02000  0.029  0.035  0.065
부산 남구     712.0  0.026812  0.013099  0.004  0.01800  0.027  0.034  0.066
부산 동구    2142.0  0.025152  0.012209  0.002  0.01725  0.027  0.033  0.062
부산 동래구   1429.0  0.020143  0.012964  0.002  0.00800  0.020  0.030  0.062
부산 부산진구  1421.0  0.017705  0.013212  0.001  0.00500  0.016  0.028  0.056
부산 북구    1431.0  0.020045  0.013701  0.002  0.00700  0.018  0.031  0.062
부산 사상구   1428.0  0.016239  0.012201  0.002  0.00400  0.015  0.025  0.055
부산 사하구   1429.0  0.022211  0.012800  0.002  0.01200  0.023  0.030  0.062
부산 서구     714.0  0.026279  0.011722  0.002  0.01800  0.026  0.033  0.058
부산 수영구    714.0  0.024228  0.014255  0.002  0.01200  0.026  0.034  0.064
부산 연제구    706.0  0.021186  0.014324  0.002  0.00500  0.023  0.032  0.058
부산 영도구   1424.0  0.028471  0.012886  0.002  0.02000  0.030  0.035  0.071
부산 중구     706.0  0.024857  0.010550  0.003  0.01800  0.025  0.031  0.052
부산 해운대구  1419.0  0.022981  0.012705  0.002  0.01200  0.024  0.031  0.063

In [ ]:
df_November_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 11월')
by_cont_NO2=df_November_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min       25%    50%      75%    max
지역
부산 강서구   3548.0  0.026582  0.015836  0.003  0.013875  0.024  0.03700  0.107
부산 금정구   2129.0  0.020250  0.010646  0.003  0.012000  0.018  0.02800  0.056
부산 기장군   1431.0  0.012411  0.007334  0.003  0.007000  0.010  0.01600  0.046
부산 남구     712.0  0.017806  0.010804  0.004  0.009000  0.014  0.02425  0.053
부산 동구    2139.0  0.021743  0.014374  0.003  0.010000  0.017  0.03100  0.076
부산 동래구   1428.0  0.019489  0.009619  0.004  0.012000  0.019  0.02525  0.050
부산 부산진구  1428.0  0.024290  0.012763  0.004  0.014000  0.022  0.03300  0.070
부산 북구    1431.0  0.023486  0.011887  0.004  0.014000  0.022  0.03200  0.064
부산 사상구   1427.0  0.025088  0.013195  0.004  0.014000  0.023  0.03400  0.079
부산 사하구   1429.0  0.023812  0.013650  0.005  0.013000  0.021  0.03100  0.083
부산 서구     714.0  0.016279  0.008130  0.004  0.010000  0.015  0.02100  0.049
부산 수영구    714.0  0.018908  0.011456  0.004  0.010000  0.015  0.02600  0.053
부산 연제구    706.0  0.026698  0.016473  0.005  0.013000  0.023  0.03800  0.073
부산 영도구   1424.0  0.016149  0.010308  0.003  0.008000  0.013  0.02200  0.056
부산 중구     706.0  0.014722  0.008926  0.004  0.008000  0.012  0.01900  0.057
부산 해운대구  1419.0  0.019882  0.010309  0.004  0.012000  0.018  0.02700  0.061

In [ ]:
df_November_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 11월')
by_cont_PM10=df_November_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std   min   25%   50%    75%    max
지역
부산 강서구   3473.0  36.019580  17.477888   3.0  23.0  32.0  46.00  130.0
부산 금정구   2155.0  25.388399  13.937750   4.0  15.0  22.0  32.00   93.0
부산 기장군   1399.0  25.943531  14.697049   4.0  16.0  22.0  31.00   98.0
부산 남구     717.0  32.509066  14.457856   9.0  22.0  29.0  39.00  101.0
부산 동구    2136.0  29.850187  15.334492   6.0  19.0  26.0  37.00  110.0
부산 동래구   1394.0  32.408178  15.810770   5.0  21.0  29.0  40.00  161.0
부산 부산진구  1434.0  34.462343  16.731751   3.0  22.0  31.0  43.00  107.0
부산 북구    1434.0  31.199442  14.639920   5.0  20.0  28.0  39.00   90.0
부산 사상구   1436.0  38.229109  16.980161   8.0  25.0  36.0  48.00  102.0
부산 사하구   1438.0  34.410292  17.103596   5.0  21.0  31.0  44.75  108.0
부산 서구     720.0  32.640278  14.066790  11.0  23.0  30.0  39.00   95.0
부산 수영구    705.0  32.194326  15.171668   9.0  21.0  29.0  40.00  105.0
부산 연제구    678.0  31.898230  15.295416   7.0  20.0  28.0  41.00   99.0
부산 영도구   1420.0  26.035211  14.404609   6.0  16.0  22.0  31.25   98.0
부산 중구     702.0  33.601140  16.229995   9.0  22.0  30.0  41.00  104.0
부산 해운대구  1413.0  26.704883  14.074919   6.0  17.0  24.0  33.00   98.0

In [ ]:
df_November_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 11월')
by_cont_PM25=df_November_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min   25%   50%   75%   max
지역
부산 강서구   3534.0  20.133277  10.896734  2.0  12.0  18.0  27.0  76.0
부산 금정구   2153.0  13.905248   7.474078  2.0   9.0  13.0  18.0  52.0
부산 기장군   1417.0  14.609033   7.644530  2.0   9.0  13.0  18.0  51.0
부산 남구     718.0  12.835655   7.449374  2.0   7.0  11.0  17.0  40.0
부산 동구    2122.0  15.056550   8.257216  2.0   9.0  13.0  20.0  50.0
부산 동래구   1433.0  16.276343   7.795867  2.0  10.0  15.0  21.0  51.0
부산 부산진구  1433.0  18.713189   9.286453  2.0  12.0  17.0  25.0  56.0
부산 북구    1436.0  17.204735   8.203161  2.0  11.0  16.0  22.0  49.0
부산 사상구   1427.0  21.043448  10.460817  2.0  13.0  19.0  27.0  66.0
부산 사하구   1434.0  18.990237  10.995332  2.0  11.0  17.0  25.0  74.0
부산 서구     719.0  14.929068   7.528718  2.0  10.0  14.0  19.0  43.0
부산 수영구    705.0  18.258156   7.436188  3.0  13.0  16.0  23.0  49.0
부산 연제구    711.0  16.579466   8.006095  2.0  11.0  15.0  22.0  53.0
부산 영도구   1428.0  14.245798   7.408149  2.0   9.0  13.0  18.0  46.0
부산 중구     691.0  15.777135   8.284933  2.0  10.0  14.0  20.0  49.0
부산 해운대구  1419.0  14.141649   7.686126  2.0   9.0  12.0  18.0  50.0

###December

In [ ]:
df_December = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',sheet_name='부산 2020 12월')

In [ ]:
#count empty/null values
print(df_December.isnull().sum().sum())

6612

In [ ]:
df_December_SO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','SO2'], sheet_name='부산 2020 12월')
by_cont_SO2=df_December_SO2.groupby('지역')
by_cont_SO2.describe()

            SO2
          count      mean       std     min    25%    50%    75%    max
지역
부산 강서구   3664.0  0.003734  0.001798  0.0008  0.003  0.003  0.004  0.021
부산 금정구   2208.0  0.002993  0.001062  0.0020  0.003  0.003  0.003  0.025
부산 기장군   1476.0  0.003480  0.001137  0.0020  0.003  0.003  0.004  0.009
부산 남구     738.0  0.003117  0.000896  0.0020  0.003  0.003  0.003  0.008
부산 동구    2199.0  0.003504  0.000884  0.0020  0.003  0.003  0.004  0.009
부산 동래구    738.0  0.003799  0.000869  0.0020  0.003  0.004  0.004  0.007
부산 부산진구  1473.0  0.003506  0.000726  0.0020  0.003  0.003  0.004  0.007
부산 북구     738.0  0.003539  0.000761  0.0030  0.003  0.003  0.004  0.010
부산 사상구   1469.0  0.003987  0.001598  0.0010  0.003  0.004  0.005  0.014
부산 사하구   1472.0  0.003562  0.000963  0.0020  0.003  0.003  0.004  0.017
부산 서구     737.0  0.003522  0.000965  0.0020  0.003  0.003  0.004  0.007
부산 수영구      0.0       NaN       NaN     NaN    NaN    NaN    NaN    NaN
부산 연제구    736.0  0.002939  0.000595  0.0020  0.003  0.003  0.003  0.007
부산 영도구   1478.0  0.003426  0.000681  0.0030  0.003  0.003  0.004  0.009
부산 중구     735.0  0.003122  0.000551  0.0020  0.003  0.003  0.003  0.007
부산 해운대구  1473.0  0.003148  0.000811  0.0020  0.003  0.003  0.003  0.008

In [ ]:
df_December_CO = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','CO'], sheet_name='부산 2020 12월')
by_cont_CO=df_December_CO.groupby('지역')
by_cont_CO.describe()

             CO
          count      mean       std  min  25%  50%    75%  max
지역
부산 강서구   3637.0  0.393511  0.124774  0.0  0.3  0.4  0.500  1.1
부산 금정구   2212.0  0.474955  0.114787  0.3  0.4  0.5  0.500  1.0
부산 기장군   1476.0  0.330556  0.098573  0.2  0.3  0.3  0.400  0.7
부산 남구     738.0  0.521274  0.094316  0.4  0.5  0.5  0.600  1.0
부산 동구    2199.0  0.382856  0.129188  0.1  0.3  0.4  0.400  1.1
부산 동래구    738.0  0.466667  0.144928  0.2  0.4  0.4  0.575  1.0
부산 부산진구  1473.0  0.466802  0.145042  0.3  0.4  0.4  0.500  1.0
부산 북구     738.0  0.503794  0.146276  0.3  0.4  0.5  0.600  0.9
부산 사상구   1471.0  0.461251  0.160338  0.2  0.3  0.4  0.500  1.3
부산 사하구   1469.0  0.487883  0.153843  0.3  0.4  0.4  0.500  2.1
부산 서구     737.0  0.473948  0.084697  0.3  0.4  0.5  0.500  0.8
부산 수영구      0.0       NaN       NaN  NaN  NaN  NaN    NaN  NaN
부산 연제구    736.0  0.380571  0.143958  0.2  0.3  0.3  0.400  1.0
부산 영도구   1478.0  0.350135  0.065698  0.2  0.3  0.3  0.400  0.8
부산 중구     737.0  0.413976  0.088358  0.3  0.4  0.4  0.500  0.8
부산 해운대구  1473.0  0.422267  0.105583  0.3  0.3  0.4  0.500  0.9

In [ ]:
df_December_O3 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','O3'], sheet_name='부산 2020 12월')
by_cont_O3=df_December_O3.groupby('지역')
by_cont_O3.describe()

             O3
          count      mean       std    min      25%    50%    75%    max
지역
부산 강서구   3666.0  0.019328  0.011938  0.001  0.00800  0.020  0.029  0.053
부산 금정구   2192.0  0.021339  0.012616  0.002  0.00900  0.023  0.032  0.054
부산 기장군   1476.0  0.028136  0.010615  0.002  0.02200  0.030  0.035  0.056
부산 남구     738.0  0.023883  0.010285  0.004  0.01700  0.025  0.032  0.045
부산 동구    2198.0  0.025734  0.010690  0.002  0.02000  0.028  0.033  0.053
부산 동래구   1472.0  0.018391  0.011766  0.001  0.00600  0.020  0.029  0.050
부산 부산진구  1473.0  0.016207  0.011913  0.002  0.00400  0.015  0.026  0.049
부산 북구    1435.0  0.017882  0.011824  0.002  0.00600  0.018  0.028  0.051
부산 사상구   1470.0  0.014476  0.010392  0.002  0.00400  0.013  0.023  0.044
부산 사하구   1467.0  0.019626  0.010244  0.002  0.01100  0.021  0.027  0.047
부산 서구     737.0  0.024795  0.009490  0.002  0.01800  0.026  0.031  0.051
부산 수영구    733.0  0.021939  0.011735  0.002  0.01200  0.025  0.030  0.051
부산 연제구    736.0  0.021076  0.012837  0.002  0.00675  0.025  0.031  0.051
부산 영도구   1478.0  0.028145  0.009501  0.002  0.02300  0.029  0.034  0.054
부산 중구     737.0  0.025715  0.010069  0.002  0.02000  0.027  0.032  0.051
부산 해운대구  1462.0  0.022030  0.011102  0.002  0.01300  0.025  0.030  0.050

In [ ]:
df_December_NO2 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','NO2'], sheet_name='부산 2020 12월')
by_cont_NO2=df_December_NO2.groupby('지역')
by_cont_NO2.describe()

            NO2
          count      mean       std    min    25%     50%      75%    max
지역
부산 강서구   3663.0  0.025862  0.015549  0.004  0.013  0.0230  0.03600  0.104
부산 금정구   2212.0  0.022033  0.012016  0.002  0.012  0.0205  0.03100  0.064
부산 기장군   1476.0  0.012801  0.008007  0.003  0.007  0.0100  0.01700  0.050
부산 남구     738.0  0.018984  0.010242  0.004  0.011  0.0170  0.02675  0.046
부산 동구    2198.0  0.020235  0.014210  0.003  0.010  0.0160  0.02700  0.122
부산 동래구   1473.0  0.020286  0.010808  0.003  0.012  0.0190  0.02600  0.065
부산 부산진구  1473.0  0.025157  0.013966  0.003  0.014  0.0230  0.03500  0.074
부산 북구    1476.0  0.025413  0.013926  0.003  0.013  0.0240  0.03525  0.079
부산 사상구   1471.0  0.022878  0.012757  0.004  0.012  0.0200  0.03000  0.070
부산 사하구   1472.0  0.023103  0.012293  0.005  0.013  0.0210  0.03000  0.071
부산 서구     737.0  0.017645  0.008704  0.004  0.011  0.0160  0.02300  0.051
부산 수영구    733.0  0.018816  0.011421  0.003  0.009  0.0150  0.02700  0.049
부산 연제구    736.0  0.026145  0.017024  0.004  0.012  0.0200  0.04100  0.078
부산 영도구   1478.0  0.015394  0.008798  0.003  0.008  0.0130  0.02100  0.049
부산 중구     737.0  0.013912  0.008550  0.004  0.007  0.0110  0.01800  0.062
부산 해운대구  1473.0  0.018664  0.010036  0.003  0.010  0.0160  0.02600  0.054

In [ ]:
df_December_PM10 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM10'], sheet_name='부산 2020 12월')
by_cont_PM10=df_December_PM10.groupby('지역')
by_cont_PM10.describe()

           PM10
          count       mean        std  min   25%   50%   75%    max
지역
부산 강서구   3567.0  37.261845  18.982557  4.0  23.0  33.0  48.0  174.0
부산 금정구   2218.0  27.416141  14.729050  2.0  16.0  25.0  36.0  120.0
부산 기장군   1436.0  27.085655  13.572478  3.0  17.0  24.0  36.0  107.0
부산 남구     736.0  33.282609  13.696279  8.0  23.0  30.0  42.0   96.0
부산 동구    2195.0  31.715262  14.571313  6.0  21.0  28.0  40.0   90.0
부산 동래구   1351.0  35.921540  18.005960  7.0  21.0  33.0  47.0  109.0
부산 부산진구  1472.0  37.673913  18.495842  5.0  23.0  36.0  49.0  102.0
부산 북구    1486.0  34.710633  17.223849  7.0  22.0  32.0  45.0  117.0
부산 사상구   1485.0  42.967677  20.006273  8.0  28.0  40.0  53.0  136.0
부산 사하구   1486.0  37.246299  17.915662  7.0  24.0  34.0  47.0  148.0
부산 서구     739.0  34.626522  14.084863  9.0  24.0  32.0  42.0   84.0
부산 수영구    707.0  33.373409  14.858226  9.0  21.0  31.0  43.0  112.0
부산 연제구    708.0  32.522599  16.889634  4.0  19.0  29.0  44.0   85.0
부산 영도구   1460.0  25.741781  12.240330  5.0  17.0  23.0  32.0   71.0
부산 중구     728.0  33.652473  13.661212  8.0  23.0  31.0  41.0   78.0
부산 해운대구  1420.0  26.861268  14.506291  4.0  15.0  23.0  37.0   89.0

In [ ]:
df_December_PM25 = pd.read_excel('/content/gdrive/MyDrive/Colab Notebooks/dataset/프언 부산.xlsx',usecols=['지역','PM25'], sheet_name='부산 2020 12월')
by_cont_PM25=df_December_PM25.groupby('지역')
by_cont_PM25.describe()

           PM25
          count       mean        std  min   25%   50%   75%   max
지역
부산 강서구   3660.0  24.278415  14.167596  2.0  13.0  21.0  32.0  85.0
부산 금정구   2219.0  18.787742  10.829214  2.0  10.0  17.0  25.0  77.0
부산 기장군   1451.0  18.835975  10.342246  2.0  11.0  17.0  24.0  62.0
부산 남구     739.0  18.997294  10.757489  2.0  11.0  16.0  24.0  59.0
부산 동구    2178.0  19.560606  10.540612  2.0  12.0  17.0  25.0  70.0
부산 동래구   1481.0  21.340986  11.493911  2.0  12.0  19.0  28.0  62.0
부산 부산진구  1478.0  24.092016  13.004647  3.0  14.0  22.0  31.0  69.0
부산 북구    1487.0  22.367855  12.011709  2.0  13.0  21.0  28.0  71.0
부산 사상구   1373.0  27.195193  14.944496  2.0  16.0  24.0  35.0  95.0
부산 사하구   1463.0  24.853725  14.020522  2.0  14.0  22.0  32.0  89.0
부산 서구     734.0  21.193460  11.746790  4.0  13.0  18.0  26.0  65.0
부산 수영구    734.0  19.876022   9.971290  4.0  12.0  17.5  25.0  56.0
부산 연제구    742.0  20.731806  11.496736  2.0  11.0  18.0  27.0  61.0
부산 영도구   1466.0  15.671214   9.190050  2.0   9.0  13.0  19.0  55.0
부산 중구     736.0  20.376359  10.921286  2.0  13.0  18.0  26.0  56.0
부산 해운대구  1439.0  18.719249  10.879814  2.0  11.0  16.0  24.0  56.0

In [2]:
import numpy as np
import pandas as pd

##Data organizing

###SO2

In [ ]:
outside = ['(1)winter','(1)winter','(1)winter','(2)spring','(2)spring','(2)spring','(3)summer','(3)summer','(3)summer','(4)fall','(4)fall','(4)fall']
inside = [ 'December','January','Feberary','March','Aprill','May','June','July','August','September','October','Novemer']
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
data_SO2= {
    '강서구'  : [0.003734,0.004825,0.004951,0.005234,0.004291,0.004669,0.004764,0.004038,0.004553,0.003631,0.003721,0.003912],
    '금정구'  : [0.002993,0.002484,0.002977,0.002674,0.002345,0.003628,0.003123,0.002676,0.002833,0.002680,0.002731,0.002757],
    '기장군'  : [0.003480,0.003431,0.003581,0.003429,0.003093,0.003445,0.003204,0.002837,0.003307,0.003026,0.002988,0.003601],
    '남구'    : [0.003117,0.002792,0.003744,0.003252,0.002180,0.002688,0.003571,0.004149,0.005095,0.004619,0.004391,0.004243],
    '동구'    : [0.003504,0.003453,0.003813,0.003466,0.003720,0.004852,0.004772,0.004128,0.004838,0.003343,0.003349,0.003472],
    '동래구'  : [0.003799,0.002810,0.003065,0.003127,0.002854,0.003192,0.003488,0.003891,0.004127,0.003626,0.003622,0.004206],
    '부산진구': [0.003506,0.004140,0.003408,0.003659,0.003369,0.004283,0.003814,0.003454,0.003770,0.003505,0.003763,0.003522],
    '북구'    : [0.003539,0.003348,0.004036,0.002812,0.002839,0.003151,0.003159,0.003068,0.003243,0.003161,0.003181,0.003258],
    '사상구'  : [0.003987,0.004854,0.004122,0.003129,0.003055,0.003764,0.004275,0.003477,0.004148,0.003716,0.003536,0.003797],
    '사하구'  : [0.003562,0.003509,0.003766,0.003638,0.003716,0.003722,0.003737,0.002966,0.003386,0.003087,0.003433,0.003484],
    '서구'    : [0.003522,0.003750,0.004147,0.003405,0.003519,0.004560,0.004392,0.004071,0.005096,0.003890,0.003670,0.003672],
    '수영구'  : [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],
    '연제구'  : [0.002939,0.002856,0.002792,0.002659,0.002614,0.003722,0.003105,0.002854,0.003196,0.002564,0.003081,0.002949],
    '영도구'  : [0.003426,0.003427,0.003974,0.003766,0.003674,0.003899,0.003696,0.003472,0.003609,0.003445,0.003552,0.003667],
    '중구'    : [0.003122,0.002920,0.003213,0.003238,0.003118,0.003868,0.003820,0.003364,0.003205,0.002821,0.002990,0.002937],
    '해운대구': [0.003148,0.003996,0.003361,0.003332,0.003298,0.004049,0.003595,0.003007,0.003665,0.003714,0.003935,0.003789],
}
df_SO2 = pd.DataFrame(data_SO2, index = hier_index)

In [ ]:
df_SO2.index.names= ['Season','Month']

#### SO2 Month

In [ ]:
df_SO2

                          강서구       금정구       기장군  ...       영도구        중구      해운대구
Season    Month                                    ...
(1)winter December   0.003734  0.002993  0.003480  ...  0.003426  0.003122  0.003148
          January    0.004825  0.002484  0.003431  ...  0.003427  0.002920  0.003996
          Feberary   0.004951  0.002977  0.003581  ...  0.003974  0.003213  0.003361
(2)spring March      0.005234  0.002674  0.003429  ...  0.003766  0.003238  0.003332
          Aprill     0.004291  0.002345  0.003093  ...  0.003674  0.003118  0.003298
          May        0.004669  0.003628  0.003445  ...  0.003899  0.003868  0.004049
(3)summer June       0.004764  0.003123  0.003204  ...  0.003696  0.003820  0.003595
          July       0.004038  0.002676  0.002837  ...  0.003472  0.003364  0.003007
          August     0.004553  0.002833  0.003307  ...  0.003609  0.003205  0.003665
(4)fall   September  0.003631  0.002680  0.003026  ...  0.003445  0.002821  0.003714
          October    0.003721  0.002731  0.002988  ...  0.003552  0.002990  0.003935
          Novemer    0.003912  0.002757  0.003601  ...  0.003667  0.002937  0.003789

[12 rows x 16 columns]

In [ ]:
df_SO2.transpose()

Season (1)winter                      ...   (4)fall
Month   December   January  Feberary  ... September   October   Novemer
강서구     0.003734  0.004825  0.004951  ...  0.003631  0.003721  0.003912
금정구     0.002993  0.002484  0.002977  ...  0.002680  0.002731  0.002757
기장군     0.003480  0.003431  0.003581  ...  0.003026  0.002988  0.003601
남구      0.003117  0.002792  0.003744  ...  0.004619  0.004391  0.004243
동구      0.003504  0.003453  0.003813  ...  0.003343  0.003349  0.003472
동래구     0.003799  0.002810  0.003065  ...  0.003626  0.003622  0.004206
부산진구    0.003506  0.004140  0.003408  ...  0.003505  0.003763  0.003522
북구      0.003539  0.003348  0.004036  ...  0.003161  0.003181  0.003258
사상구     0.003987  0.004854  0.004122  ...  0.003716  0.003536  0.003797
사하구     0.003562  0.003509  0.003766  ...  0.003087  0.003433  0.003484
서구      0.003522  0.003750  0.004147  ...  0.003890  0.003670  0.003672
수영구          NaN       NaN       NaN  ...       NaN       NaN       NaN
연제구     0.002939  0.002856  0.002792  ...  0.002564  0.003081  0.002949
영도구     0.003426  0.003427  0.003974  ...  0.003445  0.003552  0.003667
중구      0.003122  0.002920  0.003213  ...  0.002821  0.002990  0.002937
해운대구    0.003148  0.003996  0.003361  ...  0.003714  0.003935  0.003789

[16 rows x 12 columns]

#### SO2 Season

In [ ]:
df_SO2.groupby(['Season']).mean()

                강서구       금정구       기장군  ...       영도구        중구      해운대구
Season                                   ...
(1)winter  0.004503  0.002818  0.003497  ...  0.003609  0.003085  0.003502
(2)spring  0.004731  0.002882  0.003322  ...  0.003780  0.003408  0.003560
(3)summer  0.004452  0.002877  0.003116  ...  0.003592  0.003463  0.003422
(4)fall    0.003755  0.002723  0.003205  ...  0.003555  0.002916  0.003813

[4 rows x 16 columns]

In [ ]:
df_SO2.groupby(['Season']).mean().transpose()

Season  (1)winter  (2)spring  (3)summer   (4)fall
강서구      0.004503   0.004731   0.004452  0.003755
금정구      0.002818   0.002882   0.002877  0.002723
기장군      0.003497   0.003322   0.003116  0.003205
남구       0.003218   0.002707   0.004272  0.004418
동구       0.003590   0.004013   0.004579  0.003388
동래구      0.003225   0.003058   0.003835  0.003818
부산진구     0.003685   0.003770   0.003679  0.003597
북구       0.003641   0.002934   0.003157  0.003200
사상구      0.004321   0.003316   0.003967  0.003683
사하구      0.003612   0.003692   0.003363  0.003335
서구       0.003806   0.003828   0.004520  0.003744
수영구           NaN        NaN        NaN       NaN
연제구      0.002862   0.002998   0.003052  0.002865
영도구      0.003609   0.003780   0.003592  0.003555
중구       0.003085   0.003408   0.003463  0.002916
해운대구     0.003502   0.003560   0.003422  0.003813

#### SO2 year

In [ ]:
df_SO2.mean()

강서구     0.004360
금정구     0.002825
기장군     0.003285
남구      0.003653
동구      0.003893
동래구     0.003484
부산진구    0.003683
북구      0.003233
사상구     0.003822
사하구     0.003501
서구      0.003974
수영구          NaN
연제구     0.002944
영도구     0.003634
중구      0.003218
해운대구    0.003574
dtype: float64

In [ ]:
df_SO2.mean().transpose()

강서구     0.004360
금정구     0.002825
기장군     0.003285
남구      0.003653
동구      0.003893
동래구     0.003484
부산진구    0.003683
북구      0.003233
사상구     0.003822
사하구     0.003501
서구      0.003974
수영구          NaN
연제구     0.002944
영도구     0.003634
중구      0.003218
해운대구    0.003574
dtype: float64

### CO

In [3]:
outside = ['(1)winter','(1)winter','(1)winter','(2)spring','(2)spring','(2)spring','(3)summer','(3)summer','(3)summer','(4)fall','(4)fall','(4)fall']
inside = [ 'December','January','Feberary','March','Aprill','May','June','July','August','September','October','Novemer']
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
data_CO={
    '강서구' : [0.393511,0.40181,0.421777,0.373517,0.351774,0.359497,0.352068,0.318475,0.279259,0.340891,0.360795,0.380597	],
    '금정구' : [0.474955,0.411533,0.403039,0.356812,0.353419,0.349618,0.353015,0.340816,0.315447,0.375179,0.415441,0.435577],
    '기장군' : [0.330556,0.333649,0.294143,0.263354,0.269602,0.300279,0.314706,0.286034,0.289837,0.350983,0.307651,0.327813],
    '남구' : [0.521274,0.547083,0.568642,0.511940,0.502970,0.511748,0.496914,0.473442,0.436228,0.488559,0.505156,0.508989],
    '동구' : [0.382856,0.403971,0.421691,0.356040,0.352612,0.388487,0.392837,0.373479,0.373911,0.442515,0.419919,0.392110	],
    '동래구' : [0.466667,0.485753,0.476700,0.439456,0.402695,0.431329,0.440788,0.374355,0.326252,0.381601,0.417997,0.440896],
    '부산진구' : [0.466802,0.481861,0.473063,0.413760,0.384421,0.374931,0.345211,0.351626,0.326698,0.345264,0.439417,0.482703	],
    '북구' : [0.503794,0.555149,0.533575,0.439237,0.428571,0.427853,0.416761,0.408254,0.341281,0.382657,0.414750,0.459218 ],
    '사상구' : [0.461251,0.416858,0.432344,0.364878,0.337430,0.331618,0.310441,0.332200,0.288203,0.363547,0.381185,0.398459	],
    '사하구' : [0.487883,0.485258,0.489363,0.403673,0.359720,0.348070,0.383146,0.356415,0.311450,0.381953,0.436871,0.474318],
    '서구' : [0.473948,0.500136,0.479884,0.422222,0.410769,0.428417,0.427504,0.418342,0.351153,0.406789,0.439691,0.442577	],
    '수영구' : [np.nan, np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],
    '연제구' : [0.380571,0.458266,0.463188,0.405699,0.389063,0.389747,0.347753,0.346955,0.297147,0.348153,0.371892,0.374504],
    '영도구' : [0.350135,0.384688,0.387699,0.322418,0.293417,0.289865,0.286877,0.275372,0.235346,0.306732,0.314160,0.312702],
    '중구' : [0.413976,0.448501,0.438551,0.384741,0.349645,0.390449,0.361851,0.371370,0.348913,0.308252,0.393207,0.397860],
    '해운대구' : [0.422267,0.320568,0.255217,0.320828,0.326718,0.344655,0.316269,0.331787,0.292209,0.337815,0.376730,0.389782	],
}
df_CO = pd.DataFrame(data_CO, index= hier_index )
df_CO.index.names= ['Season','Month']

#### CO Month

In [5]:
df_CO

                          강서구       금정구       기장군  ...       영도구        중구      해운대구
Season    Month                                    ...
(1)winter December   0.393511  0.474955  0.330556  ...  0.350135  0.413976  0.422267
          January    0.401810  0.411533  0.333649  ...  0.384688  0.448501  0.320568
          Feberary   0.421777  0.403039  0.294143  ...  0.387699  0.438551  0.255217
(2)spring March      0.373517  0.356812  0.263354  ...  0.322418  0.384741  0.320828
          Aprill     0.351774  0.353419  0.269602  ...  0.293417  0.349645  0.326718
          May        0.359497  0.349618  0.300279  ...  0.289865  0.390449  0.344655
(3)summer June       0.352068  0.353015  0.314706  ...  0.286877  0.361851  0.316269
          July       0.318475  0.340816  0.286034  ...  0.275372  0.371370  0.331787
          August     0.279259  0.315447  0.289837  ...  0.235346  0.348913  0.292209
(4)fall   September  0.340891  0.375179  0.350983  ...  0.306732  0.308252  0.337815
          October    0.360795  0.415441  0.307651  ...  0.314160  0.393207  0.376730
          Novemer    0.380597  0.435577  0.327813  ...  0.312702  0.397860  0.389782

[12 rows x 16 columns]

In [6]:
df_CO.transpose()

Season (1)winter                      ...   (4)fall
Month   December   January  Feberary  ... September   October   Novemer
강서구     0.393511  0.401810  0.421777  ...  0.340891  0.360795  0.380597
금정구     0.474955  0.411533  0.403039  ...  0.375179  0.415441  0.435577
기장군     0.330556  0.333649  0.294143  ...  0.350983  0.307651  0.327813
남구      0.521274  0.547083  0.568642  ...  0.488559  0.505156  0.508989
동구      0.382856  0.403971  0.421691  ...  0.442515  0.419919  0.392110
동래구     0.466667  0.485753  0.476700  ...  0.381601  0.417997  0.440896
부산진구    0.466802  0.481861  0.473063  ...  0.345264  0.439417  0.482703
북구      0.503794  0.555149  0.533575  ...  0.382657  0.414750  0.459218
사상구     0.461251  0.416858  0.432344  ...  0.363547  0.381185  0.398459
사하구     0.487883  0.485258  0.489363  ...  0.381953  0.436871  0.474318
서구      0.473948  0.500136  0.479884  ...  0.406789  0.439691  0.442577
수영구          NaN       NaN       NaN  ...       NaN       NaN       NaN
연제구     0.380571  0.458266  0.463188  ...  0.348153  0.371892  0.374504
영도구     0.350135  0.384688  0.387699  ...  0.306732  0.314160  0.312702
중구      0.413976  0.448501  0.438551  ...  0.308252  0.393207  0.397860
해운대구    0.422267  0.320568  0.255217  ...  0.337815  0.376730  0.389782

[16 rows x 12 columns]

#### CO Season

In [7]:
df_CO.groupby(['Season']).mean()

                강서구       금정구       기장군  ...       영도구        중구      해운대구
Season                                   ...
(1)winter  0.405699  0.429842  0.319449  ...  0.374174  0.433676  0.332684
(2)spring  0.361596  0.353283  0.277745  ...  0.301900  0.374945  0.330734
(3)summer  0.316601  0.336426  0.296859  ...  0.265865  0.360711  0.313422
(4)fall    0.360761  0.408732  0.328816  ...  0.311198  0.366440  0.368109

[4 rows x 16 columns]

In [8]:
df_CO.groupby(['Season']).mean().transpose()

Season  (1)winter  (2)spring  (3)summer   (4)fall
강서구      0.405699   0.361596   0.316601  0.360761
금정구      0.429842   0.353283   0.336426  0.408732
기장군      0.319449   0.277745   0.296859  0.328816
남구       0.545666   0.508886   0.468861  0.500901
동구       0.402839   0.365713   0.380076  0.418181
동래구      0.476373   0.424493   0.380465  0.413498
부산진구     0.473909   0.391037   0.341178  0.422461
북구       0.530839   0.431887   0.388765  0.418875
사상구      0.436818   0.344642   0.310281  0.381064
사하구      0.487501   0.370488   0.350337  0.431047
서구       0.484656   0.420469   0.399000  0.429686
수영구           NaN        NaN        NaN       NaN
연제구      0.434008   0.394836   0.330618  0.364850
영도구      0.374174   0.301900   0.265865  0.311198
중구       0.433676   0.374945   0.360711  0.366440
해운대구     0.332684   0.330734   0.313422  0.368109

#### CO year

In [10]:
df_CO.mean()

강서구     0.361164
금정구     0.382071
기장군     0.305717
남구      0.506079
동구      0.391702
동래구     0.423707
부산진구    0.407146
북구      0.442592
사상구     0.368201
사하구     0.409843
서구      0.433453
수영구          NaN
연제구     0.381078
영도구     0.313284
중구      0.383943
해운대구    0.336237
dtype: float64

In [11]:
df_CO.mean().transpose()

강서구     0.361164
금정구     0.382071
기장군     0.305717
남구      0.506079
동구      0.391702
동래구     0.423707
부산진구    0.407146
북구      0.442592
사상구     0.368201
사하구     0.409843
서구      0.433453
수영구          NaN
연제구     0.381078
영도구     0.313284
중구      0.383943
해운대구    0.336237
dtype: float64

###O3

In [21]:
outside = ['(1)winter','(1)winter','(1)winter','(2)spring','(2)spring','(2)spring','(3)summer','(3)summer','(3)summer','(4)fall','(4)fall','(4)fall']
inside = [ 'December','January','Feberary','March','Aprill','May','June','July','August','September','October','Novemer']
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [23]:
data_O3= {
    '강서구'  : [0.019328,0.022013,0.024695,0.029224,0.038466,0.039736,0.039192,0.025359,0.022931,0.029913,0.030254,0.021089],
    '금정구': [0.021339,0.022874,0.025598,0.030772,0.039608,0.039276,0.040249,0.027862,0.026587,0.033286,0.031512,0.021834],
    '기장군'  : [0.028136,0.027784,0.031401,0.037974,0.047744,0.044894,0.043485,0.031285,0.030273,0.038204,0.038371,0.028308],
    '남구'      : [0.023883,0.023883,0.027666,0.034175,0.044133,0.035622,0.036633,0.027862,0.024647,0.038157,0.038669,0.026812],
    '동구'     : [0.025734,0.025907,0.027810,0.034032,0.045781,0.034542,0.031337,0.020776,0.019608,0.032648,0.034740,0.025152],
    '동래구'  : [0.018391,0.020200,0.022918,0.027888,0.039055,0.038086,0.036763,0.026131,0.024378,0.033247,0.030839,0.020143],
    '부산진구' : [0.016207,0.018100,0.022857,0.031168,0.040515,0.037803,0.037367,0.025978,0.024270,0.033279,0.028391,0.017705],
    '북구'      : [0.017882,0.019326,0.023166,0.032094,0.043222,0.042210,0.041989,0.028547,0.026474,0.034937,0.031700,0.020045],
    '사상구'   : [0.014476,0.017917,0.022292,0.030332,0.039746,0.037657,0.036398,0.025416,0.024514,0.030483,0.026328,0.016239],
    '사하구'     : [0.019626,0.021702,0.027119,0.034450,0.045694,0.041313,0.040427,0.027950,0.028874,0.036519,0.034351,0.022211],
    '서구'      : [0.024795,0.025058,0.030305,0.038686,0.048962,0.043283,0.041742,0.027062,0.026554,0.039352,0.039947,0.026279],
    '수영구'  : [0.021939,0.026136,0.028667,0.036674,0.049576,0.046417,0.043958,0.031256,0.028707,0.038686,0.036066,0.024228],
    '연제구'   : [0.021076,0.022599,0.025641,0.033118,0.043000,0.036025,0.038100,0.028449,0.024668,0.035888,0.032234,0.021186],
    '영도구'   : [0.028145,0.029577,0.035670,0.040999,0.051162,0.045022,0.041734,0.031739,0.027537,0.039362,0.038692,0.028471],
    '중구'     : [0.025715,0.022717,0.026430,0.032319,0.044020,0.037003,0.030398,0.021904,0.026260,0.034359,0.034751,0.024857],
    '해운대구' : [0.022030,0.026663,0.029242,0.036961,0.045112,0.040127,0.038826,0.028203,0.027684,0.035738,0.033976,0.022981]
}
df_O3 = pd.DataFrame(data_O3, index = hier_index)
df_O3.index.names= ['Season','Month']

####O3 Month

In [24]:
df_O3

                          강서구       금정구       기장군  ...       영도구        중구      해운대구
Season    Month                                    ...
(1)winter December   0.019328  0.021339  0.028136  ...  0.028145  0.025715  0.022030
          January    0.022013  0.022874  0.027784  ...  0.029577  0.022717  0.026663
          Feberary   0.024695  0.025598  0.031401  ...  0.035670  0.026430  0.029242
(2)spring March      0.029224  0.030772  0.037974  ...  0.040999  0.032319  0.036961
          Aprill     0.038466  0.039608  0.047744  ...  0.051162  0.044020  0.045112
          May        0.039736  0.039276  0.044894  ...  0.045022  0.037003  0.040127
(3)summer June       0.039192  0.040249  0.043485  ...  0.041734  0.030398  0.038826
          July       0.025359  0.027862  0.031285  ...  0.031739  0.021904  0.028203
          August     0.022931  0.026587  0.030273  ...  0.027537  0.026260  0.027684
(4)fall   September  0.029913  0.033286  0.038204  ...  0.039362  0.034359  0.035738
          October    0.030254  0.031512  0.038371  ...  0.038692  0.034751  0.033976
          Novemer    0.021089  0.021834  0.028308  ...  0.028471  0.024857  0.022981

[12 rows x 16 columns]

In [25]:
df_O3.transpose()

Season (1)winter                      ...   (4)fall
Month   December   January  Feberary  ... September   October   Novemer
강서구     0.019328  0.022013  0.024695  ...  0.029913  0.030254  0.021089
금정구     0.021339  0.022874  0.025598  ...  0.033286  0.031512  0.021834
기장군     0.028136  0.027784  0.031401  ...  0.038204  0.038371  0.028308
남구      0.023883  0.023883  0.027666  ...  0.038157  0.038669  0.026812
동구      0.025734  0.025907  0.027810  ...  0.032648  0.034740  0.025152
동래구     0.018391  0.020200  0.022918  ...  0.033247  0.030839  0.020143
부산진구    0.016207  0.018100  0.022857  ...  0.033279  0.028391  0.017705
북구      0.017882  0.019326  0.023166  ...  0.034937  0.031700  0.020045
사상구     0.014476  0.017917  0.022292  ...  0.030483  0.026328  0.016239
사하구     0.019626  0.021702  0.027119  ...  0.036519  0.034351  0.022211
서구      0.024795  0.025058  0.030305  ...  0.039352  0.039947  0.026279
수영구     0.021939  0.026136  0.028667  ...  0.038686  0.036066  0.024228
연제구     0.021076  0.022599  0.025641  ...  0.035888  0.032234  0.021186
영도구     0.028145  0.029577  0.035670  ...  0.039362  0.038692  0.028471
중구      0.025715  0.022717  0.026430  ...  0.034359  0.034751  0.024857
해운대구    0.022030  0.026663  0.029242  ...  0.035738  0.033976  0.022981

[16 rows x 12 columns]

#### O3 Seaon

In [26]:
df_O3.groupby(['Season']).mean()

                강서구       금정구       기장군  ...       영도구        중구      해운대구
Season                                   ...
(1)winter  0.022012  0.023270  0.029107  ...  0.031131  0.024954  0.025978
(2)spring  0.035809  0.036552  0.043537  ...  0.045728  0.037781  0.040733
(3)summer  0.029161  0.031566  0.035014  ...  0.033670  0.026187  0.031571
(4)fall    0.027085  0.028877  0.034961  ...  0.035508  0.031322  0.030898

[4 rows x 16 columns]

In [27]:
df_O3.groupby(['Season']).mean().transpose()

Season  (1)winter  (2)spring  (3)summer   (4)fall
강서구      0.022012   0.035809   0.029161  0.027085
금정구      0.023270   0.036552   0.031566  0.028877
기장군      0.029107   0.043537   0.035014  0.034961
남구       0.025144   0.037977   0.029714  0.034546
동구       0.026484   0.038118   0.023907  0.030847
동래구      0.020503   0.035010   0.029091  0.028076
부산진구     0.019055   0.036495   0.029205  0.026458
북구       0.020125   0.039175   0.032337  0.028894
사상구      0.018228   0.035912   0.028776  0.024350
사하구      0.022816   0.040486   0.032417  0.031027
서구       0.026719   0.043644   0.031786  0.035193
수영구      0.025581   0.044222   0.034640  0.032993
연제구      0.023105   0.037381   0.030406  0.029769
영도구      0.031131   0.045728   0.033670  0.035508
중구       0.024954   0.037781   0.026187  0.031322
해운대구     0.025978   0.040733   0.031571  0.030898

####O3 year

In [28]:
df_CO.mean()

강서구     0.361164
금정구     0.382071
기장군     0.305717
남구      0.506079
동구      0.391702
동래구     0.423707
부산진구    0.407146
북구      0.442592
사상구     0.368201
사하구     0.409843
서구      0.433453
수영구          NaN
연제구     0.381078
영도구     0.313284
중구      0.383943
해운대구    0.336237
dtype: float64

In [29]:
df_CO.mean().transpose()

강서구     0.361164
금정구     0.382071
기장군     0.305717
남구      0.506079
동구      0.391702
동래구     0.423707
부산진구    0.407146
북구      0.442592
사상구     0.368201
사하구     0.409843
서구      0.433453
수영구          NaN
연제구     0.381078
영도구     0.313284
중구      0.383943
해운대구    0.336237
dtype: float64

###NO2

In [30]:
outside = ['(1)winter','(1)winter','(1)winter','(2)spring','(2)spring','(2)spring','(3)summer','(3)summer','(3)summer','(4)fall','(4)fall','(4)fall']
inside = [ 'December','January','Feberary','March','Aprill','May','June','July','August','September','October','Novemer']
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [31]:
data_NO2= {
    '강서구' : [0.025862, 0.026900, 0.026494, 0.023445, 0.020765, 0.019541, 0.020368, 0.018701, 0.016514, 0.018549, 0.023103, 0.026582],
    '금정구' : [0.022033, 0.017923, 0.018480, 0.015024, 0.013860, 0.012092, 0.012584, 0.011343, 0.009001, 0.011971, 0.017838, 0.020250],
    '기장군' : [0.012801, 0.015330, 0.014764, 0.011231, 0.009818, 0.010045, 0.010295, 0.009534, 0.007836, 0.008634, 0.010427, 0.012411],
    '남구' : [0.018984, 0.021014, 0.020892, 0.014601, 0.013597, 0.014776, 0.015561, 0.012474, 0.012543, 0.009907, 0.013650, 0.017806],
    '동구' : [0.020235 ,0.022348, 0.025028, 0.021300, 0.019395, 0.025187, 0.029071, 0.024076, 0.019095, 0.017765, 0.020101, 0.021743],
    '동래구' : [0.020286, 0.024959, 0.023358, 0.020949, 0.018827, 0.016161, 0.018094, 0.014426, 0.014092, 0.015016, 0.018353, 0.019489],
    '부산진구' : [0.025157, 0.030766, 0.026640, 0.020596, 0.018032, 0.017477, 0.018195, 0.016125, 0.014270, 0.014307, 0.019950, 0.024290],
    '북구' : [0.025413	, 0.027187, 0.026994, 0.019175, 0.017120, 0.014675, 0.015650, 0.014817, 0.012061, 0.013369, 0.017940, 0.023486],
    '사상구' : [0.022878, 0.023200, 0.022391, 0.017256, 0.015219, 0.014862, 0.016179, 0.015684, 0.012483, 0.015426, 0.021824, 0.025088],
    '사하구' : [0.023103, 0.024349, 0.020007, 0.015649, 0.015714, 0.014302, 0.015408, 0.014664, 0.011108, 0.013828, 0.017344, 0.023812],
    '서구' : [0.017645, 0.019411, 0.017766, 0.014588, 0.013366, 0.014995, 0.015522, 0.015130, 0.010408, 0.009932, 0.014018, 0.016279],
    '수영구' : [0.018816, 0.020546, 0.018855, 0.014635, 0.012214, 0.012045, 0.012885, 0.011149, 0.009494, 0.009068, 0.014087, 0.018908],
    '연제구' : [0.026145, 0.025333, 0.025601, 0.020248, 0.016585, 0.017194, 0.016955, 0.015434, 0.013730, 0.013595, 0.020557, 0.026698],
    '영도구' : [0.015394, 0.014297, 0.012845, 0.011944, 0.010437, 0.010376, 0.012272, 0.011987, 0.010002, 0.009451, 0.013944, 0.016149],
    '중구' : [0.013912, 0.015944, 0.015545, 0.011535, 0.009679, 0.012486, 0.015637, 0.015220, 0.011588, 0.009952, 0.012101, 0.014722],
    '해운대구' : [0.018664, 0.014892, 0.017465, 0.016354, 0.015226, 0.015169, 0.014670, 0.013735, 0.011505, 0.011426, 0.015752, 0.019882],
}
df_NO2 = pd.DataFrame(data_NO2, index = hier_index)
df_NO2.index.names= ['Season','Month']

#### NO2 Month

In [32]:
df_NO2

                          강서구       금정구       기장군  ...       영도구        중구      해운대구
Season    Month                                    ...
(1)winter December   0.025862  0.022033  0.012801  ...  0.015394  0.013912  0.018664
          January    0.026900  0.017923  0.015330  ...  0.014297  0.015944  0.014892
          Feberary   0.026494  0.018480  0.014764  ...  0.012845  0.015545  0.017465
(2)spring March      0.023445  0.015024  0.011231  ...  0.011944  0.011535  0.016354
          Aprill     0.020765  0.013860  0.009818  ...  0.010437  0.009679  0.015226
          May        0.019541  0.012092  0.010045  ...  0.010376  0.012486  0.015169
(3)summer June       0.020368  0.012584  0.010295  ...  0.012272  0.015637  0.014670
          July       0.018701  0.011343  0.009534  ...  0.011987  0.015220  0.013735
          August     0.016514  0.009001  0.007836  ...  0.010002  0.011588  0.011505
(4)fall   September  0.018549  0.011971  0.008634  ...  0.009451  0.009952  0.011426
          October    0.023103  0.017838  0.010427  ...  0.013944  0.012101  0.015752
          Novemer    0.026582  0.020250  0.012411  ...  0.016149  0.014722  0.019882

[12 rows x 16 columns]

In [33]:
df_NO2.transpose()

Season (1)winter                      ...   (4)fall
Month   December   January  Feberary  ... September   October   Novemer
강서구     0.025862  0.026900  0.026494  ...  0.018549  0.023103  0.026582
금정구     0.022033  0.017923  0.018480  ...  0.011971  0.017838  0.020250
기장군     0.012801  0.015330  0.014764  ...  0.008634  0.010427  0.012411
남구      0.018984  0.021014  0.020892  ...  0.009907  0.013650  0.017806
동구      0.020235  0.022348  0.025028  ...  0.017765  0.020101  0.021743
동래구     0.020286  0.024959  0.023358  ...  0.015016  0.018353  0.019489
부산진구    0.025157  0.030766  0.026640  ...  0.014307  0.019950  0.024290
북구      0.025413  0.027187  0.026994  ...  0.013369  0.017940  0.023486
사상구     0.022878  0.023200  0.022391  ...  0.015426  0.021824  0.025088
사하구     0.023103  0.024349  0.020007  ...  0.013828  0.017344  0.023812
서구      0.017645  0.019411  0.017766  ...  0.009932  0.014018  0.016279
수영구     0.018816  0.020546  0.018855  ...  0.009068  0.014087  0.018908
연제구     0.026145  0.025333  0.025601  ...  0.013595  0.020557  0.026698
영도구     0.015394  0.014297  0.012845  ...  0.009451  0.013944  0.016149
중구      0.013912  0.015944  0.015545  ...  0.009952  0.012101  0.014722
해운대구    0.018664  0.014892  0.017465  ...  0.011426  0.015752  0.019882

[16 rows x 12 columns]

#### NO2 Season

In [34]:
df_NO2.groupby(['Season']).mean()

                강서구       금정구       기장군  ...       영도구        중구      해운대구
Season                                   ...
(1)winter  0.026419  0.019479  0.014298  ...  0.014179  0.015134  0.017007
(2)spring  0.021250  0.013659  0.010365  ...  0.010919  0.011233  0.015583
(3)summer  0.018528  0.010976  0.009222  ...  0.011420  0.014148  0.013303
(4)fall    0.022745  0.016686  0.010491  ...  0.013181  0.012258  0.015687

[4 rows x 16 columns]

In [35]:
df_NO2.groupby(['Season']).mean().transpose()

Season  (1)winter  (2)spring  (3)summer   (4)fall
강서구      0.026419   0.021250   0.018528  0.022745
금정구      0.019479   0.013659   0.010976  0.016686
기장군      0.014298   0.010365   0.009222  0.010491
남구       0.020297   0.014325   0.013526  0.013788
동구       0.022537   0.021961   0.024081  0.019870
동래구      0.022868   0.018646   0.015537  0.017619
부산진구     0.027521   0.018702   0.016197  0.019516
북구       0.026531   0.016990   0.014176  0.018265
사상구      0.022823   0.015779   0.014782  0.020779
사하구      0.022486   0.015222   0.013727  0.018328
서구       0.018274   0.014316   0.013687  0.013410
수영구      0.019406   0.012965   0.011176  0.014021
연제구      0.025693   0.018009   0.015373  0.020283
영도구      0.014179   0.010919   0.011420  0.013181
중구       0.015134   0.011233   0.014148  0.012258
해운대구     0.017007   0.015583   0.013303  0.015687

#### NO2 year

In [36]:
df_CO.mean()

강서구     0.361164
금정구     0.382071
기장군     0.305717
남구      0.506079
동구      0.391702
동래구     0.423707
부산진구    0.407146
북구      0.442592
사상구     0.368201
사하구     0.409843
서구      0.433453
수영구          NaN
연제구     0.381078
영도구     0.313284
중구      0.383943
해운대구    0.336237
dtype: float64

In [37]:
df_CO.mean().transpose()

강서구     0.361164
금정구     0.382071
기장군     0.305717
남구      0.506079
동구      0.391702
동래구     0.423707
부산진구    0.407146
북구      0.442592
사상구     0.368201
사하구     0.409843
서구      0.433453
수영구          NaN
연제구     0.381078
영도구     0.313284
중구      0.383943
해운대구    0.336237
dtype: float64

###PM10

In [38]:
outside = ['(1)winter','(1)winter','(1)winter','(2)spring','(2)spring','(2)spring','(3)summer','(3)summer','(3)summer','(4)fall','(4)fall','(4)fall']
inside = [ 'December','January','Feberary','March','Aprill','May','June','July','August','September','October','Novemer']
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [40]:
data_PM10 = {
    '강서구'  : [37.261845, 34.220862, 37.767442, 34.533394, 36.504190, 30.740994, 26.232977, 18.314739, 30.305822, 26.494400, 34.562552, 36.019580],
    '금정구'  : [27.416141, 27.733964, 31.250368, 31.828707, 35.416667, 33.544269, 27.809923, 18.631114, 32.431063, 21.160571, 26.239958, 25.388399],
    '기장군'  : [27.085655, 27.669360, 30.884006, 30.824124, 34.754811, 29.917483, 25.374561, 16.637990, 27.421268, 21.509733, 26.106630, 25.943531],
    '남구'    : [33.282609, 29.576819, 31.462536, 32.041892, 37.888889, 31.318797, 26.090909, 21.113103, 35.478502, 25.890000, 31.122085,	32.509066],
    '동구'    : [31.715262, 27.261905, 30.203185, 32.000455, 36.467502, 34.284984, 30.493036, 21.876298, 34.785449, 25.905849, 29.936054, 29.850187], 
    '동래구'  : [35.921540, 32.037112, 36.218457, 36.423545, 40.331924, 35.072546, 29.140200, 19.527532, 29.930894, 24.648296, 30.808895, 32.408178], 
    '부산진구': [37.673913, 35.774477, 37.397399,	34.378378, 37.279054, 32.237767, 26.785664, 17.944180, 30.502038, 22.783520, 31.319835,	34.462343],
    '북구'    : [34.710633, 35.562584, 37.851156,	32.675876, 35.092372, 31.579798, 26.902098, 17.830976, 28.648922, 22.813025, 29.063265, 31.199442],
    '사상구'  : [42.967677, 39.428283, 39.381295, 37.577703, 40.394425, 34.895553, 29.997906, 20.361188, 31.744939, 26.497899, 34.589249, 38.229109],
    '사하구'  : [37.246299, 34.070659, 35.283442, 32.527346, 35.594011, 30.862162, 27.351916, 18.352027, 30.283019, 23.375966, 31.104611, 34.410292], 
    '서구'    : [34.626522, 35.887838, 36.875000, 35.340054, 39.554318, 36.524966, 30.294286, 21.997238, 31.059238, 26.506494, 32.054393, 32.640278],
    '수영구'  : [33.373409, 28.330623, 31.303030,	32.549660, 35.690377, 34.127544, 28.312676, 19.616420, 34.985034, 24.244604, 30.306180, 32.194326],
    '연제구'  : [32.522599, 31.764873, 37.006221, 36.551985, 38.077684, 32.731364, 27.300140, 18.656334, 31.088889,	23.230878, 30.266476, 31.898230],
    '영도구'  : [25.741781, 26.344086, 29.358790,	26.313172, 31.473020, 26.029710, 21.691393, 14.015530, 26.421727,	20.434070, 25.960811,	26.035211],
    '중구'    : [33.652473, 28.763833, 31.008671, 30.012129, 34.964739, 29.569014, 22.866573, 16.424451, 38.601648, 28.138810, 34.857531, 33.601140],
    '해운대구': [26.861268, 26.322537, 28.836705, 29.428186, 33.775053, 29.579446, 24.731707, 16.041201, 28.733607,	22.854896, 27.163336,	26.704883],
}
df_PM10 = pd.DataFrame(data_PM10, index = hier_index)
df_PM10.index.names = ['Season', 'Month']

#### PM10 Month

In [41]:
df_PM10

                           강서구        금정구  ...         중구       해운대구
Season    Month                            ...
(1)winter December   37.261845  27.416141  ...  33.652473  26.861268
          January    34.220862  27.733964  ...  28.763833  26.322537
          Feberary   37.767442  31.250368  ...  31.008671  28.836705
(2)spring March      34.533394  31.828707  ...  30.012129  29.428186
          Aprill     36.504190  35.416667  ...  34.964739  33.775053
          May        30.740994  33.544269  ...  29.569014  29.579446
(3)summer June       26.232977  27.809923  ...  22.866573  24.731707
          July       18.314739  18.631114  ...  16.424451  16.041201
          August     30.305822  32.431063  ...  38.601648  28.733607
(4)fall   September  26.494400  21.160571  ...  28.138810  22.854896
          October    34.562552  26.239958  ...  34.857531  27.163336
          Novemer    36.019580  25.388399  ...  33.601140  26.704883

[12 rows x 16 columns]

In [42]:
df_PM10.transpose()

Season  (1)winter                        ...    (4)fall
Month    December    January   Feberary  ...  September    October    Novemer
강서구     37.261845  34.220862  37.767442  ...  26.494400  34.562552  36.019580
금정구     27.416141  27.733964  31.250368  ...  21.160571  26.239958  25.388399
기장군     27.085655  27.669360  30.884006  ...  21.509733  26.106630  25.943531
남구      33.282609  29.576819  31.462536  ...  25.890000  31.122085  32.509066
동구      31.715262  27.261905  30.203185  ...  25.905849  29.936054  29.850187
동래구     35.921540  32.037112  36.218457  ...  24.648296  30.808895  32.408178
부산진구    37.673913  35.774477  37.397399  ...  22.783520  31.319835  34.462343
북구      34.710633  35.562584  37.851156  ...  22.813025  29.063265  31.199442
사상구     42.967677  39.428283  39.381295  ...  26.497899  34.589249  38.229109
사하구     37.246299  34.070659  35.283442  ...  23.375966  31.104611  34.410292
서구      34.626522  35.887838  36.875000  ...  26.506494  32.054393  32.640278
수영구     33.373409  28.330623  31.303030  ...  24.244604  30.306180  32.194326
연제구     32.522599  31.764873  37.006221  ...  23.230878  30.266476  31.898230
영도구     25.741781  26.344086  29.358790  ...  20.434070  25.960811  26.035211
중구      33.652473  28.763833  31.008671  ...  28.138810  34.857531  33.601140
해운대구    26.861268  26.322537  28.836705  ...  22.854896  27.163336  26.704883

[16 rows x 12 columns]

#### PM10 Season

In [43]:
df_PM10.groupby(['Season']).mean()

                 강서구        금정구        기장군  ...        영도구         중구       해운대구
Season                                      ...
(1)winter  36.416716  28.800158  28.546340  ...  27.148219  31.141659  27.340170
(2)spring  33.926193  33.596548  31.832139  ...  27.938634  31.515294  30.927562
(3)summer  24.951179  26.290700  23.144606  ...  20.709550  25.964224  23.168838
(4)fall    32.358844  24.262976  24.519965  ...  24.143364  32.199160  25.574372

[4 rows x 16 columns]

In [44]:
df_PM10.groupby(['Season']).mean().transpose()

Season  (1)winter  (2)spring  (3)summer    (4)fall
강서구     36.416716  33.926193  24.951179  32.358844
금정구     28.800158  33.596548  26.290700  24.262976
기장군     28.546340  31.832139  23.144606  24.519965
남구      31.440655  33.749859  27.560838  29.840384
동구      29.726784  34.250980  29.051594  28.564030
동래구     34.725703  37.276005  26.199542  29.288456
부산진구    36.948596  34.631733  25.077294  29.521899
북구      36.041458  33.116015  24.460665  27.691911
사상구     40.592418  37.622560  27.368011  33.105419
사하구     35.533467  32.994506  25.328987  29.630290
서구      35.796453  37.139779  27.783587  30.400388
수영구     31.002354  34.122527  27.638043  28.915037
연제구     33.764564  35.787011  25.681788  28.465195
영도구     27.148219  27.938634  20.709550  24.143364
중구      31.141659  31.515294  25.964224  32.199160
해운대구    27.340170  30.927562  23.168838  25.574372

#### PM10 year

In [45]:
df_PM10.mean()

강서구     31.913233
금정구     28.237595
기장군     27.010763
남구      30.647934
동구      30.398347
동래구     31.872427
부산진구    31.544881
북구      30.327512
사상구     34.672102
사하구     30.871812
서구      32.780052
수영구     30.419490
연제구     30.924639
영도구     24.984942
중구      30.205084
해운대구    26.752735
dtype: float64

In [46]:
df_PM10.mean().transpose()

강서구     31.913233
금정구     28.237595
기장군     27.010763
남구      30.647934
동구      30.398347
동래구     31.872427
부산진구    31.544881
북구      30.327512
사상구     34.672102
사하구     30.871812
서구      32.780052
수영구     30.419490
연제구     30.924639
영도구     24.984942
중구      30.205084
해운대구    26.752735
dtype: float64

###PM25

In [47]:
outside = ['(1)winter','(1)winter','(1)winter','(2)spring','(2)spring','(2)spring','(3)summer','(3)summer','(3)summer','(4)fall','(4)fall','(4)fall']
inside = [ 'December','January','Feberary','March','Aprill','May','June','July','August','September','October','Novemer']
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [48]:
data_PM25 = {
    '강서구'  : [24.278415, 22.987632, 24.723249, 17.608578, 17.453996, 18.282708, 15.931100, 10.659457, 20.121706, 13.789889, 17.186952, 20.133277],
    '금정구'  : [18.787742, 18.610887, 20.639049, 16.345687, 17.116084, 16.755479, 15.472803, 9.960837, 18.150912, 10.618327, 13.533996, 13.905248],
    '기장군'  : [18.835975, 17.975774, 20.164017, 15.524259, 16.320848	, 15.451613, 14.101826, 9.735734, 18.273288, 12.791878, 14.085424, 14.609033],
    '남구'    : [18.997294, 17.841398, 19.483405, 12.866035, 13.711864, 14.740057, 12.073066, 7.991914, 16.983827, 9.512748, 11.094213, 12.835655],
    '동구'    : [19.560606, 18.726864, 20.571291, 14.866757, 15.734448, 17.421670, 14.975724, 10.736842, 19.367869, 12.810467, 13.932640, 15.056550],
    '동래구'  : [21.340986, 18.726864, 22.316245, 16.822973, 17.379801, 17.189952, 15.292632, 9.787407, 17.665082, 12.762139, 15.138144, 16.276343],
    '부산진구': [24.092016, 22.875843, 23.274765, 15.311995, 15.838440, 16.619310, 14.834266, 9.548953, 16.756575, 12.044630, 16.367707, 18.713189],
    '북구'    : [22.367855, 24.208614, 25.106782, 16.970350, 17.124913, 17.285324, 15.066387, 10.360943, 17.924477, 12.541463, 15.064865, 17.204735],
    '사상구'  : [27.195193, 27.299462, 24.449690, 19.522267, 19.183531, 19.850505, 18.122563, 12.321799, 19.533063, 14.969740, 18.714680, 21.043448],
    '사하구'  : [24.853725, 25.268817, 25.636364, 18.132928, 18.337753, 18.838644, 16.413720, 11.392422, 18.729966, 13.289216, 17.184028, 18.990237],
    '서구'    : [21.193460, 23.576248, 22.599138, 16.930013, 18.207810, 19.628533, 16.894958, 14.243937, 21.521320, 13.662857, 14.125174, 14.929068],
    '수영구'  : [19.876022, 21.259811, 22.529496, 18.533424, 19.672727, 19.556463, 17.808239, 12.521918, 21.860434, 14.369844, 17.267133, 18.258156],
    '연제구'  : [20.731806, 17.877193, 19.662356, 14.472260, 15.841808, 16.701950, 14.384401, 10.254717, 18.267206, 13.319661, 15.211957, 16.579466],
    '영도구'  : [15.671214, 17.127572, 19.156609, 12.832997, 14.129707, 14.121376, 11.552687, 7.441216, 16.453872, 11.175879, 13.748796, 14.245798],
    '중구'    : [20.376359, 17.886640, 19.379412, 13.611421, 15.218618, 15.826761, 13.800000, 11.158485, 20.497948, 13.052933, 15.001362, 15.777135],
    '해운대구': [18.719249, 20.528302, 23.145560, 14.212306, 14.163854, 14.751381, 12.041374, 8.362857, 17.970708, 11.134982, 13.154997, 14.141649],
}
df_PM25 = pd.DataFrame(data_PM25, index = hier_index)
df_PM25.index.names = ['Season', 'Month']

#### PM25 Month

In [49]:
df_PM25

                           강서구        금정구  ...         중구       해운대구
Season    Month                            ...
(1)winter December   24.278415  18.787742  ...  20.376359  18.719249
          January    22.987632  18.610887  ...  17.886640  20.528302
          Feberary   24.723249  20.639049  ...  19.379412  23.145560
(2)spring March      17.608578  16.345687  ...  13.611421  14.212306
          Aprill     17.453996  17.116084  ...  15.218618  14.163854
          May        18.282708  16.755479  ...  15.826761  14.751381
(3)summer June       15.931100  15.472803  ...  13.800000  12.041374
          July       10.659457   9.960837  ...  11.158485   8.362857
          August     20.121706  18.150912  ...  20.497948  17.970708
(4)fall   September  13.789889  10.618327  ...  13.052933  11.134982
          October    17.186952  13.533996  ...  15.001362  13.154997
          Novemer    20.133277  13.905248  ...  15.777135  14.141649

[12 rows x 16 columns]

In [50]:
df_PM25.transpose()

Season  (1)winter                        ...    (4)fall
Month    December    January   Feberary  ...  September    October    Novemer
강서구     24.278415  22.987632  24.723249  ...  13.789889  17.186952  20.133277
금정구     18.787742  18.610887  20.639049  ...  10.618327  13.533996  13.905248
기장군     18.835975  17.975774  20.164017  ...  12.791878  14.085424  14.609033
남구      18.997294  17.841398  19.483405  ...   9.512748  11.094213  12.835655
동구      19.560606  18.726864  20.571291  ...  12.810467  13.932640  15.056550
동래구     21.340986  18.726864  22.316245  ...  12.762139  15.138144  16.276343
부산진구    24.092016  22.875843  23.274765  ...  12.044630  16.367707  18.713189
북구      22.367855  24.208614  25.106782  ...  12.541463  15.064865  17.204735
사상구     27.195193  27.299462  24.449690  ...  14.969740  18.714680  21.043448
사하구     24.853725  25.268817  25.636364  ...  13.289216  17.184028  18.990237
서구      21.193460  23.576248  22.599138  ...  13.662857  14.125174  14.929068
수영구     19.876022  21.259811  22.529496  ...  14.369844  17.267133  18.258156
연제구     20.731806  17.877193  19.662356  ...  13.319661  15.211957  16.579466
영도구     15.671214  17.127572  19.156609  ...  11.175879  13.748796  14.245798
중구      20.376359  17.886640  19.379412  ...  13.052933  15.001362  15.777135
해운대구    18.719249  20.528302  23.145560  ...  11.134982  13.154997  14.141649

[16 rows x 12 columns]

#### PM25 Season

In [51]:
df_PM25.groupby(['Season']).mean()

                 강서구        금정구        기장군  ...        영도구         중구       해운대구
Season                                      ...
(1)winter  23.996432  19.345893  18.991922  ...  17.318465  19.214137  20.797704
(2)spring  17.781761  16.739083  15.765573  ...  13.694693  14.885600  14.375847
(3)summer  15.570754  14.528184  14.036949  ...  11.815925  15.152144  12.791646
(4)fall    17.036706  12.685857  13.828778  ...  13.056824  14.610477  12.810543

[4 rows x 16 columns]

In [52]:
df_PM25.groupby(['Season']).mean().transpose()

Season  (1)winter  (2)spring  (3)summer    (4)fall
강서구     23.996432  17.781761  15.570754  17.036706
금정구     19.345893  16.739083  14.528184  12.685857
기장군     18.991922  15.765573  14.036949  13.828778
남구      18.774032  13.772652  12.349602  11.147539
동구      19.619587  16.007625  15.026812  13.933219
동래구     20.794698  17.130909  14.248374  14.725542
부산진구    23.414208  15.923248  13.713265  15.708509
북구      23.894417  17.126862  14.450602  14.937021
사상구     26.314782  19.518768  16.659142  18.242623
사하구     25.252969  18.436442  15.512036  16.487827
서구      22.456282  18.255452  17.553405  14.239033
수영구     21.221776  19.254205  17.396864  16.631711
연제구     19.423785  15.672006  14.302108  15.037028
영도구     17.318465  13.694693  11.815925  13.056824
중구      19.214137  14.885600  15.152144  14.610477
해운대구    20.797704  14.375847  12.791646  12.810543

#### PM25 year

In [53]:
df_PM25.mean()

강서구     18.596413
금정구     15.824754
기장군     15.655806
남구      14.010956
동구      16.146811
동래구     16.724881
부산진구    17.189807
북구      17.602226
사상구     20.183828
사하구     18.922318
서구      18.126043
수영구     18.626139
연제구     16.108732
영도구     13.971477
중구      15.965589
해운대구    15.193935
dtype: float64

In [54]:
df_PM25.mean().transpose()

강서구     18.596413
금정구     15.824754
기장군     15.655806
남구      14.010956
동구      16.146811
동래구     16.724881
부산진구    17.189807
북구      17.602226
사상구     20.183828
사하구     18.922318
서구      18.126043
수영구     18.626139
연제구     16.108732
영도구     13.971477
중구      15.965589
해운대구    15.193935
dtype: float64

# DATA Visualizing